@import "../../../styles/mixin.scss";
.developerProfileMain {
  padding: 20px 32px 40px 32px;
  margin: 0 auto;
  background-color: $primary-color;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  @media (width<=1099px) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 2rem;
  }

    @include media-mobile {
  padding: 20px 15px 40px 15px;

         
      }
  /* custom-swal.css */

  .profile-container {
    box-shadow: 1px 3px 5px #79797949;
    border-radius: 1rem;
    border-color: #e5e7eb;
    padding: 1.5rem;
    border-style: solid;
    background-color: rgb(255 255 255 / 1);
    position: sticky;

    .profile-img {
      aspect-ratio: 6 / 4;
      border-radius: 0.5rem;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        display: inline-block;
        object-fit: cover;
        object-position: top;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .profile-detail {
      margin-top: 1.5rem;
      .designation {
        color: rgb(87 96 118);
        font-size: 0.875rem;
        line-height: 1.25rem;
        font-weight: 600;
      }
      .pipe {
        margin-inline: 5px;
        font-weight: 600;
      }
      .experience {
        color: rgb(87 96 118);
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.25rem;
      }
      h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 600;
      }
      p {
        margin-top: 0.7rem;
      }
    }
    .cwe {
      display: flex;
      align-items: center;
      justify-content: start;
      flex-wrap: wrap;
      gap: 0.5rem;
      margin: 10px 0;
      width: 100%;
      .call {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        color: $content-color;
        font-weight: 600;
       
        text-transform: capitalize;
        background-color: $cta-color;
        padding: 0.6rem 1rem;
        gap: 0.5rem;
        letter-spacing: 0.5px;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(0.95);
          box-shadow: 0px 0px 3px rgba(157, 157, 157, 0.199),
            0px 0px 3px rgba(152, 152, 152, 0.199);
        }
      }
      .whatsapp {
        display: flex;
        align-items: center;
        cursor: pointer;

        justify-content: center;
        border: 1px solid rgb(229, 230, 232);
        padding: 0.95rem 1.5rem;
        border-radius: 5px;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(0.95);
          box-shadow: 0px 0px 7px rgba(74, 74, 74, 0.395),
            0px 0px 7px rgba(74, 74, 74, 0.395);
        }
      }
      .email {
        display: flex;
        cursor: pointer;

        align-items: center;
        justify-content: center;
        border: 1px solid rgb(229, 230, 232);
        border-radius: 5px;
        cursor: pointer;
        gap: 0.5rem;
        padding: 0.6rem 1.5rem;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(0.95);
          box-shadow: 0px 0px 7px rgba(74, 74, 74, 0.395),
            0px 0px 7px rgba(74, 74, 74, 0.395);
        }
      }
    }
    .socialIcon {
      display: flex;
      align-items: center;

      justify-content: start;
      gap: 0.5rem;

      a {
        display: flex;
        text-decoration: none;
        color: inherit;
        align-items: center;
        justify-content: center padding 0.5rem;
        border: 1px solid rgb(229, 230, 232);
        padding: 0.5rem;
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.5s ease;
        &:hover {
          transform: scale(0.95);
          box-shadow: 0px 0px 7px rgba(74, 74, 74, 0.395),
            0px 0px 7px rgba(74, 74, 74, 0.395);
        }
      }
    }
  }

  .workAndSkill {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    grid-template-rows: repeat(2, minmax(0, 1fr));
    width: 100%;
    @media (width<=1099px) {
      // grid-template-columns: repeat(1, minmax(0, 1fr));
      gap: 2rem;
    }
    .work {
      width: 100%;
      box-shadow: 1px 3px 5px #79797949;
      border-radius: 1rem;
      border-color: #e5e7eb;
      padding: 1.5rem;
      border-style: solid;
      background-color: rgb(255 255 255 / 1);
      .title {
        text-wrap: nowrap;
        margin-bottom: 1.3rem;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 800;
      }
      .card-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        column-gap: 1.3rem;
        width: 100%;
        row-gap: 1.2rem;
        justify-content: start;

        // .work-card {
        // display: flex;
        // gap: 0.5rem;
        // align-items: start;
        // justify-content: start;
        .year {
          font-size: 0.875rem;
          line-height: 1.25rem;
          text-wrap: nowrap;
          color: rgb(87 96 118);

          margin-top: 0.3rem;
        }

        .company-conteiner {
          display: flex;
          gap: 0.4rem;
          // align-items: c;
          .companyLogo {
            width: 35px;
            height: 35px;
            //   aspect-ratio: 1/1;
            img {
              width: 100%;
              height: 100%;
            }
          }

          .companyDetail {
            display: flex;
            flex-direction: column;
            .name {
              font-weight: 600;
              font-size: 1rem;
              line-height: 1.5rem;
            
              color: rgb(25 25 35);
            }
            .post {
              color: rgb(87 96 118);
              font-size: 0.875rem;
              line-height: 1.25rem;
            }
            //
          }
        }
        // }
      }
    }

    .skill {
      width: 100%;
      box-shadow: 1px 3px 5px #79797949;
      border-radius: 1rem;
      border-color: #e5e7eb;
      padding: 1.5rem;
      border-style: solid;
      background-color: rgb(255 255 255 / 1);
      .title {
        text-wrap: nowrap;
        margin-bottom: 1rem;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 800;
      }

      .card-container {
        display: grid;
        margin-top: 1.5rem;
        gap: 1rem;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        @media (min-width: 768px) {
          grid-template-columns: repeat(3, minmax(0, 1fr));
        }

        .card {
          text-align: center;
          .img-conateiner {
            border-radius: 0.5rem;
            place-content: center;
            display: grid;
            padding: 0.75rem;
            background-color: rgb(240 242 245);
            img {
              object-fit: cover;
              height: 2rem;
            }
          }
          p {
            color: rgb(25 25 35);
            font-size: 0.875rem;
            line-height: 1.25rem;
            font-weight: 500;
            margin-top: 0.25rem;
          }
        }
      }
    }
  }

  .projects {
    width: 100%;
    box-shadow: 1px 3px 5px #79797949;
    border-radius: 1rem;
    border-color: #e5e7eb;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    border-style: solid;
    background-color: rgb(255 255 255 / 1);
    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        text-wrap: nowrap;
        // margin-bottom: 1rem;
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: 800;
      }

      .allProject {
        color: $border-color;
        font-size: 1rem;
        line-height: 1.8rem;
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 0.5rem;
        font-weight: 600;
      }
    }

    .project-card-conateiner {
      margin-top: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      @media (width<=1099px) {
        // grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 3rem;
      }
      .card {
        background-color: rgb(240 242 245);
        border-radius: 0.5rem;
        overflow: hidden;
        position: relative;
        .inner-card {
          aspect-ratio: 6 / 4;
          position: relative;
          overflow: hidden;
          border-top-left-radius: 0.5rem;
          border-top-right-radius: 0.5rem;
          img {
            object-position: top;
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }

        @media (min-width: 768px) {
          padding: 1.5rem;
          padding-bottom: 0;
        }
        .projectLink {
          // background: linear-gradient(top, rgba(0, 0, 0, 0.888));
          // background: rgba(96, 96, 96, 0.338);
          position: absolute;
          width: 100%;
          bottom: 10px;
          left: 0;
          // z-index: 1;
          a {
            cursor: pointer;
            font-size: 0.95rem;
            line-height: 1rem;
            font-weight: 500;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            margin-left: 1rem;
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            background-color: white;
            border-radius: 0.25rem;
            box-shadow: 0px 0px 5px rgba(157, 157, 157, 0.285);

            color: rgb(135 126 255);
            // color: $content-color;
          }
        }
      }
    }
  }
}
.swal2-popup {
  padding: 0 !important; /* Removes default padding */
  width: auto !important;
  @media (width<=417px) {
    padding: 0 !important; /* Removes default padding */
  }
}

#swal2-html-container {
  padding: 20px 10px 10px 10px !important; /* Custom padding for the content */
}
