
#aboutVideoPlayerMain{
  z-index: 9999;
}
.videoPlayerModelMain {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;

 
  place-items: center;
  background-color: #4e4e4e71;
//   background-color: #ad020250;
  .videoPlayerConateiner {
    width: 100%;
    max-width: 900px;
    padding: 30px;

    .videoPlayer {
      width: 100%;
      border-radius: 10px;
      overflow: hidden;
    }
  }
  .cross{
    position: absolute;
    top:20px;
    right: 20px;
    cursor: pointer;
    color: white;
  }
}
