@import "../../../styles/mixin.scss";
.OurPhilosophyMain {
  background-color: #ffffff;
  padding-inline: 32px;
  @include wrapper-padding;
  .card-container {
    counter-reset: philosophy-counter;
    .swiper-slide {
      height: auto !important;
    }
    .philosophy-box {
      border: 1px solid #dcdcdc;
      border-radius: 30px;
      width: 100%;
      position: relative;
      padding: 48px 30px 60px;
      display: flex;

      flex-direction: column;
      height: 100%;

      &:before {
        counter-increment: philosophy-counter;
        content: "0" counter(philosophy-counter);
        position: absolute;
        right: 35px;
        bottom: 0;
        top: auto;
        font-weight: 700;
        color: rgba(18, 20, 29, 0.1);
        font-size: 3.4375em;
      }

      .philosophy-name {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        grid-gap: 30px;
        margin-bottom: 15px;
      }
      h4 {
        margin: 0;
        color: #12141d;
        font-size: 1.5em;
      }
      img {
        width: 50px;
        height: 50px;
        margin: 0 0 0 auto;
        object-fit: contain;
      }
      p {
        margin-bottom: 0;
        color: #12141d;
        margin: 0 0 30px;
      }
    }
  }
}
.swiper-pagination {
  display: none;
  @include media-mobile {
    position: static;
    display: block;
    margin-top: 22px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #a0a0a6;
    transition: all 250ms cubic-bezier(0.75, 0.1, 0.6, 1);
  }
  .swiper-pagination-bullet-active {
    background: $hover-active-color;
  }
}
