@import '../../styles/mixin.scss';

@keyframes animate-circle {
    0%{
        height: 30px;
        width: 30px;
        opacity: 1;
    }
    100%{
        height: 0px;
        width: 0px;
        opacity: 0;
    }
}

#loader{
    height: calc(100dvh - $navbar-height);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .loader-box{
        height: 50px;
        width: 50px;
        background-color: burlywood;
        border-radius: 50%;
        animation: animate-circle 600ms ease-in-out alternate-reverse infinite;
    }
}