@import "../../styles/mixin.scss";
@import "../../styles/variable.scss";
.Main-container-blogs {
  @include wrapper-padding;
  overflow: clip;
  .wrapper-div {
    width: 100%;
    padding: 0 32px;
    margin: 0 auto;

    .cards-container {
      margin-bottom: 50px;
    }
    .view-all-btn {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
