@import "../../styles/mixin.scss";
.getInTouchNowMain {
  @include wrapper-padding;
  padding-inline: 32px;
  background-color: $primary-color;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: 1fr 1.3fr;
    @include media-mobile {
         padding-inline: 20px;

      }
  @media (width<990px) {
    grid-template-columns: 1fr;
  }
  .left-box {
    .title-main-wrapper {
      display: flex;
      justify-content: start;
      @include media-sm-mobile {
        justify-content: center;
      }
      .title-main {
        position: relative;

        font-weight: 600;
        font-size: 16px;
        color: $content-color;
        padding: 0 44px;
        @include media-sm-mobile {
          padding: 0;
        }
        &:before {
          content: "";
          position: absolute;
          left: 0;
          background: #c7c9d9;
          width: 37px;
          height: 1px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          @include media-sm-mobile {
            display: none;
          }
        }
      }
    }
    .heading {
      font-weight: 700;
      text-wrap: wrap;
      font-size: clamp(30px, 8vw, 50px) !important;

      color: $content-color;
      line-height: 60px;
      @include media-sm-mobile {
        text-align: center;
      }
    }
    > p {
      font-size: 1rem;
      margin-top: 0.2rem;
      line-height: 24px;
      color: $content-color;
      @include media-sm-mobile {
        text-align: center;
      }
    }

    .contact-list-container {
      margin-top: 1rem;
      display: grid;

      grid-template-columns: 1fr;
      row-gap: 2rem;
      @media (width <990px) {
        grid-template-columns: 1fr 1fr;
        column-gap: 2rem;
        row-gap: unset;
      }
      @media (width <540px) {
        grid-template-columns: 1fr;
        row-gap: 2rem;
      }
      // align-items: center;
      .contact-list {
        width: 100%;

        .head {
          margin-bottom: 1rem;
          font-size: 20px;
          font-weight: 700;
          line-height: 28px;
          color: $content-color;
        }

        .contact-cards {
          display: grid;
          grid-template-columns: 1fr 1fr;
          align-content: start;
          @media (width < 1200px) {
            grid-template-columns: 1fr;
          }
          li {
            list-style: none;
          }
          .list {
            list-style: none;
            padding: 18px;
            display: flex;
            gap: 15px;
            align-items: center;
            font-size: 1rem;
            line-height: 24px;
            color: $content-color;
            &:hover {
              color: $border-color;
            }
            img,
            svg {
              filter: brightness(0) saturate(100%) invert(99%) sepia(97%)
                saturate(597%) hue-rotate(310deg) brightness(91%) contrast(87%);
            }

            .dialer-container {
              display: flex;

              flex-direction: column;
              gap: 0.3rem;
              span {
                font-size: 12px;
                font-weight: 300;
              }
              .dialer {
                color: $content-color;
                &:hover {
                     color: $border-color;

                }
              }
            }
            &:nth-child(1) {
              border: 1px solid #a8726b2e;
            }
            &:nth-child(2) {
              border: 1px solid #a8726b2e;
              @media (width >1200px) {
                border-left: none;
              }
              @media (width <1200px) {
                border-top: none;
              }
            }
            &:nth-child(3) {
              margin-top: 10px;
              border: 1px solid #a8726b2e;
              @media (width < 1200px) {
                margin-top: 0px;
                border-top: none;
              }

              @media (width > 1200px) {
                grid-column: 1/3;
              }
            }
          }
        }
      }
    }
  }
  .faq-list {
    counter-reset: my-sec-counter;

    .faq-item {
      border: 1px solid $secondary-color;
      cursor: pointer;
      margin: 0;
      background: 0 0;
      font-weight: 400;
      position: relative;

      .question {
        @include custom-font(400, 18px, 140%);
        cursor: pointer;
        margin: 0;
        background: 0 0;
        padding: 20px 40px 20px 60px;
        border: 0;
        position: relative;
        transition: all 350ms cubic-bezier(0.75, 0.1, 0.6, 1);

        @include media-mobile {
          @include custom-font(400, 16px, 140%);
        }

        &::before {
          counter-increment: my-sec-counter;
          content: counter(my-sec-counter);
          position: absolute;
          left: 20px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 16px;
          border-radius: 4px;
          width: 26px;
          height: 26px;
          // border: 1.5px solid #fff;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 350ms cubic-bezier(0.75, 0.1, 0.6, 1);

          @include media-tablet {
            font-size: 14px;
            line-height: 1;
            width: 20px;
            height: 20px;
            top: 30px;
          }
        }

        &::after {
          content: "";
          position: absolute;
          right: 20px;
          top: 50%;
          margin-top: -6px;
          border-top: solid 8px $content-color;
          border-left: solid 6px transparent;
          border-right: solid 6px transparent;
          z-index: 2;
          transform: rotate(-90deg);
          transition: all 350ms cubic-bezier(0.75, 0.1, 0.6, 1);
        }
      }
      .open-question {
        background: $secondary-color;
        color: $content-color;

        &::before {
          color: $content-color;
          border-color: $content-color;
        }

        &::after {
          border-top-color: $content-color;
          transform: rotate(0deg);
        }
      }

      .answer {
        // max-height: 0px;
        opacity: 0;
        padding: 0 30px;
        overflow: hidden;
        position: relative;
        transition: all 0.5s ease-in-out;

        @include media-tablet {
          padding: 0 20px;
        }

        .list-container {
          list-style: none;
          .list-para {
            @include custom-font(400, 16px, 1.5);
            // padding-left: 60px;
            // counter-increment: alphabeticList;
            position: relative;
            color: $content-color;

            @include media-tablet {
              padding-left: 40px;
            }

            &::before {
              content:  "";
              position: absolute;
              left: 0;
              top: 0;
              font-size: 32px;
              font-weight: 700;
              color: $content-color;
              opacity: .8;
              line-height: 1;
            }

            ul {
              padding-top: 20px;
              list-style: none;

              li {
                margin-bottom: 10px;
              }
            }
          }
        }
      }
      .open-answer {
        // max-height: 600px;
        opacity: 1;
        padding: 28px 30px;
        overflow: auto;
        scrollbar-width: none;
        @include media-tablet {
          padding: 28px 0;
        }
      }
    }
  }
  // .right-box {
  //   background-color: white;
  //   padding: 20px;

  //   .container {
  //     width: 100%;
  //     height: 100%;
  //     padding: 30px 36px;
  //     border: 1px solid #25245d33;

  //     @include media-mobile {
  //       padding: 30px 25px;
  //     }
  //     .head {
  //       font-size: clamp(30px, 8vw, 40px) !important;
  //       font-weight: 700;
  //       line-height: 48px;
  //       color: $content-color;
  //       margin-bottom: 30px;
  //     }
  //     .hire-conateiner {
  //       display: flex;
  //       align-items: center;
  //       justify-content: start;
  //       flex-wrap: wrap;
  //       gap: 0.3rem;
  //       cursor: pointer;
  //       >label{
  //             cursor: pointer;
  //       }
  //       > input {
  //         border: 2px solid $content-color;
  //         width: 15px;
  //         height: 15px;

  //         &:checked {
  //           background-color: $primary-color;
  //           border-color: $border-color;
  //         }
  //       }
  //       margin-bottom: 0.5rem;
  //     }

  //     .form {
  //       display: grid;
  //       grid-template-columns: 1fr 1fr;
  //       grid-gap: 30px 30px;
  //       @media (width <=664px) {
  //         grid-template-columns: 1fr;
  //       }
  //       .form-group{
  //         position: relative;
  //       }
  //       .ContactMessage,
  //       .buttons {
  //         @media (width > 664px) {
  //           grid-column: 1/3;
  //         }
  //       }
  //       .buttons {
  //         display: flex;
  //         align-items: center;
  //         justify-content: space-between;
  //         // width: 100%;
  //         gap: 0.5rem;
  //         @media (width < 711px) {
  //           justify-content: center;
  //           row-gap: 1rem;
  //           flex-wrap: wrap;
  //         }
  //         .submitButton {
  //           background-color: transparent;
  //           outline: none;
  //           border: none;
  //           border-radius: 50px;
  //         }
  //         .tagLine {
  //           margin: 0 0 0 10px;
  //           color: $content-color;
  //           display: flex;
  //           gap: 0.5rem;
  //           font-size: 16px;
  //           align-items: center;
  //           img {
  //             filter: brightness(0) saturate(100%) invert(90%) sepia(67%)
  //               saturate(2%) hue-rotate(241deg) brightness(110%) contrast(100%);
  //           }
  //         }
  //       }
  //       .inputField {
  //         width: 100%;

  //         position: relative;
  //         > label {
  //           font-size: 1rem;
  //           line-height: 24px;
  //           display: block;
  //           color: $content-color;
  //           margin-bottom: 14px;
  //           span {
  //             //   color: red;
  //           }
  //         }

  //         input,
  //         textarea {
  //           outline: none;
  //           border: 1px solid #e8e8e8;
  //           width: 100%;
  //           transition: all 350ms cubic-bezier(0.5, 0, 0.25, 1);
  //           // color: #1c1c28;
  //           font-size: 1em;
  //           background: transparent;
  //           color: $content-color;
  //           padding: 5px 20px;
  //           min-height: 50px;
  //           line-height: 1.5;
  //           &::placeholder {
  //             color: $content-color;
  //             opacity: 1; /* Firefox */
  //           }
  //           &:focus {
  //             border: 1px solid rgba(255, 255, 255, 0.6);
  //             background: rgba(0, 0, 0, 0.12);
  //             background-blend-mode: overlay;
  //           }
  //         }
  //         textarea {
  //           resize: vertical;
  //         }

       
  //         .errorCross {
  //           z-index: 5;
  //           display: block;
  //           background: 0 0;
  //           border: 1px solid #f15239;
  //           margin: 0;
  //           width: 20px;
  //           height: 20px;
  //           font-size: 0;
  //           padding: 0;
  //           border-radius: 0;
  //           position: absolute;
  //           top: 15px;
  //           right: 14px;
  //           text-align: center;
  //         }
  //       }
  //     }
  //   }
  // }
  .errorBorder {
    border-color: #f15239 !important;
  }
     .error {
            position: absolute;
            // margin-top: 0.2rem;
            font-size: 13px;
            color: #f15239;
            bottom: -22px;
            left: 0;
          }
}
.swal-title {
  font-family: var(--font-bressay-regular) !important;
}
.swal-text{
  font-family: var(--font-avenir-regular) !important;
}
.swal-confirm-button {
  background-color: $hover-active-color !important;
}
