@import "../../../styles/mixin.scss";

#services-section {
  @include wrapper-padding;
  padding-inline: 32px;
  width: 100%;

  .service-item {
    display: flex;
    margin-bottom: 80px;

    @include media-1200 {
      flex-wrap: wrap;
    }

    .service-name-box {
      width: 50%;
      display: flex;
      position: relative;
      align-items: flex-start;

      @include media-xlg-laptop {
        width: 40%;
      }
      @include media-tablet {
        width: 100%;
      }

      .name-info {
        position: sticky;
        padding-bottom: 20px;
        top: $navbar-height;
        background-color: #fff;
        h2 {
          @include custom-font(700, 98px, 1);
          // -webkit-text-stroke: 1px $content-color;
          // paint-order: stroke fill;
          // color: transparent;
          @include media-xlg-laptop {
            @include custom-font(700, 76px, 1);
          }
          @include media-1200 {
            @include custom-font(700, 60px, 1);
          }
          @include media-sm-laptop {
            @include custom-font(700, 48px, 1);
          }
          @include media-tablet {
            @include custom-font(700, 60px, 1);
          }
          @include media-mobile {
            @include custom-font(700, 40px, 1);
          }
        }
        h3 {
          color: $content-color;
          @include custom-font(600, 58px, 140%);
          margin-bottom: 0;

          @include media-xlg-laptop {
            @include custom-font(600, 40px, 140%);
          }
          @include media-sm-laptop {
            @include custom-font(600, 30px, 140%);
          }
          @include media-tablet {
            @include custom-font(600, 25px, 140%);
          }
        }
      }
      .line-animation {
        width: 1px;
        background: #e1e1e1;
        position: absolute;
        left: 25%;
        height: 100%;
        bottom: 0;
        z-index: -1;

        @include media-tablet {
          display: none;
        }

        .fill-line {
          width: 1px;
          top: 0;
          background: $primary-color;
          position: absolute;
          left: 0;
        }
      }
    }
    .service-detail-box {
      width: 50%;
      @include media-xlg-laptop {
        width: 58%;
      }
      @include media-tablet {
        width: 100%;
      }

      .image-box {
        display: flex;
        width: 100%;
        overflow-x: visible;
        overflow-y: clip;
        padding-left: 57px;
        flex-direction: column;
        height: 560px;
        position: relative;

        @include media-1200 {
          transform-origin: left center;
          transform: scale(0.8);
        }

        @include media-tablet {
          transform: scale(0.9);
          height: 520px;
          transform-origin: center;
          padding-left: 0;
          max-width: 450px;
          margin: 0 auto;
        }

        @include media-mobile {
          height: 450px;
          margin: 32px auto;
        }

        // &::before {
        //   content: "";
        //   position: absolute;
        //   z-index: -1;
        //   border-radius: 10px;
        //   right: 0;
        //   border: 1px solid #e8e8e8;
        //   height: calc(100% - 60px);
        //   width: calc(100% - 227px);
        //   bottom: 0;
        // }
        > span {
          width: 100%;
          max-width: 508px;
          background: #dadada;
          height: 100%;
          left: 57px;
          top: 0;
          position: absolute;
          z-index: -1;
          border-radius: 10px;

          @include media-tablet {
            left: 0;
            max-width: 100%;
          }
        }
        figure {
          display: flex;
          max-width: 508px;
          align-items: center;
          justify-content: center;
          flex: 1;
          height: 100%;
          padding: 30px;
          position: relative;

          @include media-sm-laptop {
            padding: 30px 0 30px 30px;
            margin-right: -30px;
          }

          @include media-tablet {
            max-width: 100%;
            margin: 0 auto;
            padding-left: 0;
          }

          img {
            height: 90%;
            object-fit: contain;
            width: 100%;

            @include media-mobile {
              max-height: 460px;
              margin: 0 auto;
              object-fit: cover;
            }
          }

          .bubble {
            width: 99px;
            height: 99px;
            border-radius: 100%;
            background: linear-gradient(
              147.14deg,
              #00cfde 6.95%,
              #05a660 93.05%
            );
            position: absolute;
            right: 0;
            top: 50%;

            @include media-sm-laptop {
              right: -80px;
            }

            @include media-tablet {
              right: 0;
              width: 60px;
              height: 60px;
            }

            @include media-mobile {
              display: none;
            }
          }
        }
      }
      .detail-box {
        margin-top: 70px;
        padding-left: 57px;

        @include media-1200 {
          margin-top: 0;
          padding-left: 50px;
        }

        @include media-tablet {
          margin-top: 10px;
          padding-left: 0;
        }

        p {
          @include custom-font(400, 20px, 1.5);
          margin-bottom: 20px;

          @include media-sm-laptop {
            @include custom-font(400, 16px, 1.5);
          }
        }

        .tech-listing {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          list-style: none;
          grid-gap: 15px;

          @include media-mobile {
            grid-template-columns: 1fr;
          }

          li {
            color: $content-color;
            display: flex;
            flex-wrap: wrap;
            position: relative;
            padding-left: 20px;

            &::before {
              content: url("../../../assets/Icons/bullet.svg");
              font-size: 10px;
              position: absolute;
              left: 0;
              top: 6px;
            }
          }
        }
        .logos-box {
          flex-wrap: wrap;
          grid-gap: 40px 50px;
          margin-top: 50px;
          display: flex;
          align-items: center;

          @include media-1200 {
            grid-gap: 30px;
            margin-top: 40px;
          }

          figure {
            display: flex;
            justify-content: center;
            align-items: center;
            max-height: 34px;

            img {
              width: 35px;
              height: 40px;
              object-fit: contain;
              width: 100%;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
