@import "../../../styles/mixin.scss";

#hiring-process {
  @include wrapper-padding;
  border-top: 1px solid #e4e4eb;

  .section-container {
    width: 100%;
    padding: 0 32px;
    margin: 0 auto;

    .hiring-process-box {
      display: flex;
      justify-content: space-between;
      position: relative;

      @include media-mobile {
        justify-content: center;
        flex-wrap: wrap;
        grid-gap: 10px 0;
      }

      .process-box {
        position: relative;
        background: #fff;
        &:not(:last-child) {
          padding-right: 120px;
          @include media-xlg-laptop {
            padding-right: 80px;
          }

          @include media-1200 {
            padding-right: 60px;
          }

          @include media-sm-laptop {
            padding-right: 40px;
          }

          @include media-tablet {
            padding-right: 30px;
          }
        }

        @include media-mobile {
          width: 50%;
          padding: 0;
          text-align: center;
        }

        &:not(:last-child)::before {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          border-top: 3px dashed #25245d;
          width: 53px;
          border-top-left-radius: 2px;
          border-top-right-radius: 2px;
          border-bottom-left-radius: 2px;
          border-bottom-right-radius: 2px;

          @include media-sm-laptop {
            right: 10px;
            width: 40px;
          }

          @include media-tablet {
            right: 5px;
            width: 30px;
          }
          @include media-mobile {
            display: none;
          }
        }

        h2 {
          font-size: 13.625em;
          -webkit-text-stroke: 6px transparent !important;
          -webkit-background-clip: text !important;
          background-clip: text !important;
          font-weight: 700;
          color: #fff;
          line-height: 1.1;
          margin: 0;

          @include media-xlg-laptop {
            font-size: 11.25em;
          }
          @include media-1200 {
            font-size: 9.375em;
          }
          @include media-tablet {
            font-size: 5em;
            padding-left: 3px;
          }
          @include media-mobile {
            font-size: 6.25em;
          }
        }

        h4 {
          max-width: 124px;
          font-size: 1.5em;
          line-height: 140%;

          @include media-1200 {
            font-size: 1.25em;
          }
          @include media-tablet {
            font-size: 1em;
          }

          @include media-mobile {
            text-align: center;
            margin: 0 auto;
          }
        }

        .process-icon {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          position: absolute;
          left: 53px;
          top: 50%;
          margin-top: 10px;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          padding: 20px;

          @include media-xlg-laptop {
            left: 40px;
            width: 80px;
            height: 80px;
          }
          @include media-1200 {
            left: 30px;
            width: 70px;
            height: 70px;
            padding: 15px;
          }
          @include media-sm-laptop {
            left: 30px;
            width: 60px;
            height: 60px;
            padding: 15px;
          }
          @include media-tablet {
            width: 40px;
            height: 40px;
            padding: 10px;
            margin-top: 0;
          }
          @include media-mobile {
            width: 50px;
            height: 50px;
            padding: 10px;
            margin: 0 auto;
            left: 45px;
            right: 0;
          }

          figure {
            img {
              object-fit: contain;
              max-width: 100%;
            }
          }
        }
      }
    }
  }
}
