@font-face {
    font-family: "Averta";
    src: url("./AvertaDemo-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Averta-Bold";
    src: url("./AvertaDemo-ExtraBoldItalic.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }