@import "../../../styles/mixin.scss";

#hr-speaks {
  @include wrapper-padding;
  border-top: 1px solid #e4e4eb;

  .section-container {
    width: 100%;
    padding: 0 32px;
    margin: 0 auto;

    .hr-box {
      display: flex;
      background: #f9fbff;
      grid-gap: 60px;
      padding: 30px;
      border-radius: 4px;
      align-items: flex-start;
      @include media-xlg-laptop {
        grid-gap: 40px;
      }
      @include media-sm-laptop {
        flex-direction: column;
      }
      @include media-tablet {
        flex-wrap: wrap;
        margin: 0 -32px;
        padding: 48px 32px;
      }

      .social-box {
        position: relative;

        @include media-tablet {
          width: 100%;
          max-width: 300px;
        }

        figure {
          width: 350px;
          height: 350px;
          position: relative;
          overflow: hidden;

          @include media-xlg-laptop {
            width: 200px;
            height: 200px;
          }
          @include media-lg-laptop {
            width: 300px;
            height: 300px;
          }

          img {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            max-width: 100%;
          }
        }
        ul {
          display: flex;
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 20px;
          margin: 0;
          padding: 0;
          background: #fff;
          border-radius: 15px;
          border: 1px solid #cdd3d3;
          align-items: center;
          list-style: none;
          overflow: hidden;

          li {
            border-right: 1px solid #cdd3d3;

            a {
              color: $content-color;
              text-decoration: none;
              justify-content: center;
              position: relative;
              overflow: hidden;
              padding: 10px;
              display: flex;
              align-items: center;
              transition: all cubic-bezier(0.15, 0.3, 0.2, 0.9) 250ms;

              &:hover {
                &::before {
                  top: 0;
                }
                .icon {
                  color: #fff;
                  transform: rotateY(360deg);
                }
              }

              &::before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                transition: 0.5s;
                z-index: 2;
              }

              &.linkedin {
                &::before {
                  background: #0077b5;
                }
              }
              &.facebook {
                &::before {
                  background: #3b5999;
                }
              }
              &.instagram {
                &::before {
                  background: #c13584;
                }
              }
              &.twitter {
                &::before {
                  background: #55acee;
                }
              }

              .icon {
                position: relative;
                transition: 0.5s;
                z-index: 3;
              }
            }
          }
        }
      }
      .details {
        padding-top: 25px;

        @include media-sm-laptop{
            padding-top: 0;
        }

        h3 {
          position: relative;
          padding-bottom: 20px;
          margin-bottom: 20px;
          display: flex;
          align-items: center;
          font-size: 1.75em;
          line-height: 140%;
          margin: 0 0 24px;

          @include media-sm-laptop{
            padding-bottom: 15px;
            margin-bottom: 15px;
          }
          @include media-tablet{
            padding-bottom: 10px;
            margin-bottom: 10px;
          }

          span {
            display: block;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.6);
            line-height: normal;
            font-weight: 400;
          }

          &::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: 0;
            height: 2px;
            width: 50px;
            background: $primary-color;
          }
        }
        p {
          line-height: 1.8;
          color: rgba(18, 20, 29, 0.8);
          max-width: 650px;
          width: 100%;
          margin: 0 0 30px;
        }
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          flex-wrap: wrap;
          grid-gap: 10px 30px;
          display: flex;
          align-items: center;

          li {
            a {
              color: $content-color;
              opacity: 0.8;
              text-decoration: none;
              display: flex;
              align-items: center;
              transition: all cubic-bezier(0.15, 0.3, 0.2, 0.9) 250ms;

              &:hover {
                opacity: 1;
              }

              .contact-icon {
                font-size: 18px;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
  }
}
