@import "../../../styles/mixin.scss";
.whatWeDoMain {
  @include wrapper-padding;
  border-top: 1px solid #e4e4eb;
  border-bottom: 1px solid #e4e4eb;
  .top {
    padding: 0 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 5rem;
    @media (width<=900px) {
      grid-template-columns: 1fr;
    }
    .title {
      @include media-mobile {
        text-align: center;
      }
      .what {
        font-size: clamp(18px, 6vw, 100px);
        gap: 1rem;
        // -webkit-text-stroke: 2px $content-color;
        // paint-order: stroke fill;
        // color: transparent;

        @media (max-width: 1400px) {
          font-size: 100px;
        }
        @media (max-width: 1199px) {
          font-size: 90px;
        }
        @media (max-width: 767px) {
          font-size: 60px;
        }
      }
      .wedo {
        font-size: clamp(20px, 7vw, 2.875rem);
        color: $content-color;

        margin: 0 0 20px;

        @media (max-width: 1400px) {
          font-size: 2.375rem;
        }
        @media (max-width: 991px) {
          font-size: 1.975rem;
        }
        @media (max-width: 575px) {
          font-size: 2.3rem;
        }
      }
    }
    .peragraph {
      > p {
        line-height: 1.5;
        font-weight: 400;
        font-size: 1.25em;
        color: #12141d;
        &:not(:last-child) {
          margin-bottom: 30px;
        }

        @include media-mobile{
          text-align: center;
        }
      }
    }
  }
  .bottomPrinciples {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    .heading {
      margin-bottom: 24px;
      color: $content-color;
      text-wrap: wrap;
      font-size: 2em;
      @media (max-width: 991px) {
        font-size: 26px;
      }
      @include media-mobile{
        text-align: center;
      }
    }

    .card-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 40px;

      margin-top: 48px;
      @media (max-width: 767px) {
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
        justify-items: center;
        align-content: center;

        grid-gap: 60px;
      }
      .what-we-do-card {
        position: relative;
        &:nth-child(1) {
          .peragraphData {
            border-color: #64d09c;
          }
          .icon {
            background: #e5ffff !important;
            color: #00b7c4 !important;
            border-color: #00b7c4;
          }
        }
        &:nth-child(2) {
          .peragraphData {
            border-color: #e57a00;
          }
          .icon {
            background: #fff8e5 !important;
            color: #e57a00 !important;
          }
        }
        &:nth-child(3) {
          .peragraphData {
            border-color: #ff3b3b;
          }
          .icon {
            background: #fef0f0;
          }
        }

        .content {
          display: flex;
          grid-gap: 30px;

          @media (max-width: 1199px) {
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            grid-gap: 15px;

            flex-direction: column;
            align-items: flex-start;
          }
          @media (max-width: 767px) {
            flex-direction: row;
            justify-content: center;
          }
          .circleTitle {
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            width: 170px;
            text-align: center;

            .number {
              span {
                border: 1px solid $primary-color;
                font-weight: 600;
                font-size: 1.125em;
                margin: 0 auto;
                position: relative;
                height: 78px;
                width: 78px;
                border-radius: 50%;
                display: flex;

                align-items: center;

                justify-content: center;
              }
              .line {
                content: "";
                height: 70px;
                width: 1px;
                margin: 0 auto;
                background: $primary-color;
              }
            }
            h4 {
              margin: 0;
              background-color: #fff;
              position: relative;
              z-index: 1;
              font-size: 1.5em;
              color: $content-color;
            }
          }

          .peragraphData {
            padding: 25px;
            border-width: 1px;
            border-style: solid;
            border-radius: 0 50px 50px 50px;

            margin: 60px 0 0 auto;
            @media (max-width: 1199px) {
              margin: 0;
            }

            p {
              line-height: 1.5;
              font-weight: 400;
              color: #12141d;
            }
          }
        }
        .icon {
          margin-top: 45px;
          width: 170px;
          height: 170px;

          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;

          @media (max-width: 1400px) {
            width: 130px;
            height: 130px;
          }
          @media (max-width: 1199px) {
            position: absolute;
            margin-top: 0;
            position: absolute;
            bottom: -30px;
            right: -10px;
            width: 80px;
            height: 80px;
          }
          img {
            width: 65px;
            height: 65px;

            object-fit: contain;
          }
        }
      }
    }
  }
}
