@import "../../../styles/mixin.scss";

#portfoliodetail-herobanner {
  padding-inline: 32px;
  @include wrapper-padding;
  width: 100%;
  margin: 0 auto;

  .banner-container {
    display: flex;
    grid-gap: 30px;
    align-items: center;

    @include media-sm-laptop {
      flex-direction: column;
      grid-gap: 80px;
      flex-wrap: wrap;
    }
    @include media-mobile {
      grid-gap: 50px;
    }

    .info-box {
      max-width: 690px;
      width: 100%;

      @include media-1200 {
        max-width: 400px;
      }
      @include media-sm-laptop {
        max-width: 100%;
      }

      .top-title {
        display: block;
        overflow: hidden;
        position: relative;
        padding-left: 50px;
        font-weight: 300;
        color: #25245d;
        margin-bottom: 10px;
        @include media-sm-mobile {
          padding-left: 0;
          text-align: center;
        }

        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 37px;
          height: 1px;
          background: $primary-color;
          @include media-sm-mobile {
            display: none;
          }
        }
      }
      h1 {
        font-size: 3.625em;
        line-height: 1;
        margin: 0 0 24px;

        @include media-1200 {
          font-size: 3.125em;
        }
        @include media-sm-laptop {
          font-size: 2.5em;
        }
        @include media-tablet {
          font-size: 2.1875em;
        }
        @include media-sm-mobile {
          text-align: center;
        }
      }
      .tech-box {
        margin: 16px 0;
        margin-bottom: 32px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        grid-gap: 10px;
        font-size: 0.875em;

        ul {
          display: flex;
          list-style: none;
          align-items: center;
          grid-gap: 10px;
          flex-wrap: wrap;
          @include media-sm-mobile {
            justify-content: center;
          }

          li {
            border: 1px solid #e4e4eb;
            padding: 3px 14px;
            align-items: center;
            display: flex;
            justify-content: center;
            border-radius: 50px;
          }
        }
      }
      .description {
        font-size: 1em;
        max-width: 480px;
        line-height: 1.6;
        max-width: 100%;
         @include media-sm-mobile {
          text-align: center;
        }
      }
      .button-box {
        margin-top: 48px;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 20px 28px;

        @include media-1200 {
          margin-top: 38px;
        }
        @include media-tablet {
          grid-gap: 20px;
        }
        @include media-mobile {
          grid-gap: 15px 10px;
        }
        @include media-sm-mobile {
          justify-content: center;
        }
      }
    }
    .img-box {
      width: 50%;
      text-align: center;
      display: flex;
      align-items: center;

      @include media-sm-laptop {
        width: 100%;
      }

      figure {
        position: relative;
        overflow: hidden;
        max-width: 787px !important;
        width: 100% !important;

        > img {
          width: 100% !important;
          max-width: 100% !important;
          height: auto !important;
        }

        span {
          position: absolute;
          left: 17.3%;
          top: 3%;
          padding-top: 41%;
          right: 15.4%;

          img {
            width: 100%;
            height: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            position: absolute;
            inset: 0;
            max-width: 100%;
          }
        }
      }
    }
  }
}
