@import "../../styles/mixin.scss";

#hireus {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #fff;

  .hiring-header {
    padding: 30px;
    border-bottom: 1px solid rgba(37, 36, 93, 0.1);
    width: 100%;

    @include media-sm-mobile {
      padding: 15px;
    }

    .hire-title {
      color: $content-color;

      margin: 0;
      @include custom-font(0, 42px, 120%);

      @include media-sm-laptop {
        @include custom-font(0, 30px, 120%);
      }
      @include media-sm-mobile {
        @include custom-font(0, 20px, 120%);
      }
    }

    .hire-subtitle {
      display: flex;
      text-transform: uppercase;
      font-size: 2.125em;
      font-weight: 300;
      color: $content-color;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0;
      span {
        @include custom-font(900, 34px, 120%);
        margin-right: 10px;

        @include media-sm-laptop {
          @include custom-font(900, 30px, 120%);
        }
        @include media-sm-mobile {
          @include custom-font(900, 18px, 120%);
        }
      }
    }
  }
  .hiring-list {
    position: relative;
    padding: 30px 38px;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    background-position: center bottom;
    background-image: url(https://www.siciliantech.com/wp-content/themes/siciliantech/images/hire-img.webp);

    @include media-sm-mobile {
      padding: 20px 15px;
    }

    ul {
      height: 100%;
      z-index: 2;
      position: relative;
      color: $content-color;

      .list-item {
        margin-bottom: 8px;
        list-style: none;
        position: relative;
        padding-left: 25px;

        &::before {
          content: url("../../assets/Icons/bullet.svg");
          font-size: 10px;
          position: absolute;
          left: 0;
          top: 6px;
        }
      }
    }
    .list-bg {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
  }
}
