@import "../../styles/mixin.scss";

#homeHeroBanner {
  @include wrapper-padding;
  overflow: hidden;
  position: relative;
  background-color: $primary-color;
  // min-height: calc(100vh - 98px);
  color: $content-color;
  @include media-sm-laptop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &::after {
    position: absolute;
    content: "";
    background-image: url("../../assets/images/bannerBg.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left bottom;
    width: 70%;
    height: 100%;
    max-height: 480px;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    pointer-events: none;
  }

  .container {
    padding-inline: 32px;
    display: flex;
    @include media-sm-laptop {
      justify-content: center;
    }

    .box1 {
      z-index: 2;
      background: transparent;
      margin-bottom: 34px;
      display: flex;
      flex-direction: column;
      width: 100%;

      @include media-sm-laptop {
        align-items: center;
      }
      .title-msg {
        text-transform: capitalize;
        margin-bottom: 25px;
        @include custom-font(500, 14px, 16px);

        @include media-mobile {
          text-align: center;
          @include custom-font(400, 14px, 16px);
        }
      }
      .title-box {
        display: flex;
        gap: 10px;
        flex-direction: column;
        color: $content-color;

        @include media-sm-laptop {
          align-items: center;
        }
        @include media-mobile {
          text-align: center;
        }

        h2 {
          color: $content-color;
          @include custom-font(200, 40px, 42px);
          margin-top: 5px;

          @include media-laptop {
            @include custom-font(200, 30px, 32px);
          }

          @include media-tablet {
            @include custom-font(200, 25px, 28px);
          }
          @include media-mobile {
            @include custom-font(200, 20px, 24px);
          }
        }
        .secondary-text {
          @include custom-font(400, 32px, 32px);

          @include media-tablet {
            @include custom-font(400, 26px, 28px);
          }
          @include media-mobile {
            @include custom-font(200, 20px, 22px);
          }
        }
      }
      .action-box {
        gap: 20px;
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        @include custom-font(400, 14px, 24px);

        @include media-sm-laptop {
          text-align: center;
          align-items: center;
        }
        p {
          span {
            color: $content-color;
            @include custom-font(700, 14px, 24px);
            @include media-mobile {
              @include custom-font(600, 14px, 24px);
            }
          }
        }
      }
      .awards-container {
        display: flex;
        justify-content: space-between;
        padding: 40px 40px 0;
        border-top: 2px solid $secondary-color;
        border-radius: 100px;
        max-width: 548px;
        width: 100%;
        margin-top: 50px;

        @include media-mobile {
          border: none;
          grid-gap: 20px;
          padding: 0;
          margin-top: 15px;
        }
        .award-box {
          max-width: 120px;
          width: 100%;
          text-align: center;
          .award-name {
            z-index: 1;
            min-height: 114px;
            padding: 20px;
            position: relative;
            display: flex;
            align-items: center;
            .award-img {
              width: auto;
              font-size: 12px;
              margin: 0 auto;
              max-width: 100%;
              // filter: invert(100) grayscale(1);
            }
            &::before {
              content: "";
              position: absolute;
              left: 0;
              width: 100%;
              height: 100%;
              background: url("../../assets/images/award-bg.svg") no-repeat
                center bottom;
              -webkit-filter: grayscale(1);
              filter: grayscale(1);
              background-size: contain;
              background-position: center center;
              z-index: -1;
            }
          }
        }
      }
    }
    .box2 {
      position: absolute;
      top: 0;
      right: 0;
      min-width: 50%;
      z-index: 1;

      @include media-sm-laptop {
        min-width: 90%;
        opacity: 0.2;
        top: 10%;
        left: 50%;
        transform: translate(-50%, -10%);
      }

      img {
        height: auto;
        width: 100%;
        object-fit: cover;
      }
    }

    .box3 {
      position: absolute;
      top: 0;
      right: 0;
      // overflow: hidden;
      // background-color: yellow;
      min-width: 50%;
      max-width: 50%;
      z-index: 1;
      @include media-sm-laptop {
        min-width: 90%;
        opacity: 0.2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }

      .cursor-move-main {
        cursor: move;
        display: flex;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        width: 100%;

        // clip-path: inset(6% 19% 7% 29%);
      }
      img {
        height: auto;
        width: 100%;
        object-fit: cover;
        // filter: brightness(0) saturate(100%) invert(24%) sepia(34%) saturate(4977%) hue-rotate(94deg) brightness(95%) contrast(103%);
      }
      @include media-sm-laptop{
        display: none;
      }
    }
  }
}
