@import "../../../../styles/mixin.scss";
.contactForm {
  .right-box {
     background-color: white;
    padding: 20px;
    border-radius: 2px;
    width: 100%;

    margin: 0 auto;
    .container {
      width: 100%;
      max-width: 900px;
      height: 100%;
      padding: 30px 36px;
      border: 1px solid #25245d33;
      @media (width>=1200px) {
        min-width: 500px;
      }
      @media (width<=417px) {
        padding: 30px 10px;
      }
      .head {
        font-size: clamp(30px, 8vw, 40px) !important;
        font-weight: 700;
        line-height: 48px;
         color: $content-color;
        margin-bottom: 30px;
        .line {
          border-bottom: 2px solid  $content-color;
        }
      }

      .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 30px;
        @media (width <=664px) {
          grid-template-columns: 1fr;
        }
        .ContactMessage,
        .buttons {
          @media (width > 664px) {
            grid-column: 1/3;
          }
        }
        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          // width: 100%;
          gap: 0.5rem;
          @media (width < 711px) {
            justify-content: center;
            row-gap: 1rem;
            flex-wrap: wrap;
          }
          .submitButton {
            background-color: transparent;
            outline: none;
            border: none;
            border-radius: 50px;
            .button {
              @include custom-font(500, 14px, 14px);
            }
          }
          .tagLine {
            margin: 0 0 0 10px;
            color: $content-color;
            display: flex;
            gap: 0.5rem;
            font-size: 16px;
            align-items: center;
            img {
              filter: brightness(0) saturate(100%) invert(90%) sepia(67%)
                saturate(2%) hue-rotate(241deg) brightness(110%) contrast(100%);
            }
          }
        }
        .inputField {
          width: 100%;

          position: relative;
          > label {
            font-size: 1rem;
            line-height: 24px;
            display: flex;
        color: $content-color;
            margin-bottom: 14px;
            span {
                color: rgb(232, 10, 10);
            }
          }

          input,
          textarea {
            outline: none;
            border: 1px solid #e8e8e8;
            width: 100%;
            transition: all 350ms cubic-bezier(0.5, 0, 0.25, 1);
            // color: #1c1c28;
            font-size: 1em;
            background: transparent;
                color: $content-color;
            padding: 5px 20px;
            min-height: 30px;
            line-height: 1.5;
            &::placeholder {
            color: #7e7e7e;
              opacity: 1; /* Firefox */
            }
            &:focus {
              border: 1px solid rgba(255, 255, 255, 0.6);
              background: rgba(0, 0, 0, 0.12);
              background-blend-mode: overlay;
            }
          }
          textarea {
            resize: vertical;
          }
          .errorBorder {
            border-color: #f15239 !important;
          }

          .error {
            position: absolute;
            // margin-top: 0.2rem;
            font-size: 10px;
            color: #f15239;
            bottom: -17px;
            left: 0;
          }
          .errorCross {
            z-index: 5;
            display: block;
            background: 0 0;
            border: 1px solid #f15239;
            margin: 0;
            width: 20px;
            height: 20px;
            font-size: 0;
            padding: 0;
            border-radius: 0;
            position: absolute;
            top: 15px;
            right: 14px;
            text-align: center;
          }
        }
      }
    }
  }
}

.swal-title {
  font-family: var(--font-bressay-regular) !important;
}
.swal-text{
  font-family: var(--font-avenir-regular) !important;
}
.swal-confirm-button {
  background-color: $hover-active-color !important;
}