@font-face {
    font-family: 'Avenir-Next';
    src: url('./AvenirNextWorld-Regular.38dee76842bf5bff471c.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Bressay-Display';
    src: url('./BressayDisplay_W_Rg.b0d1f9766875b8a70308.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }