@import "../../styles/mixin.scss";
.bottom-terms-wrapper {
  padding: 75px 0;
  overflow: clip;
  @include media-mobile {
    padding: 50px 0;
  }
  .bottom-terms-mini-wrapper {
    width: 100%;
    padding: 0 32px;
    margin: 0 auto;
    // max-width: 1024px;
    .policy-wrapper {
    .wrapperforcontent{
        padding-bottom: 32px;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 22px;
    .policy-heading {
        font-size: 2.5em;
        margin: 0 0 24px;
        line-height: 140%;
      }
      .ull {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0;
        padding-left: 18px;
        grid-gap: 8px 40px;
        .lii {
            width: calc(33.33% - 26.6666px);
            padding-bottom: 0;
            font-size: 18px;
            cursor: pointer;
            @include media-mobile{
                width: calc(50% - 20px);
            }
            @include media-510{
                width: 100%;
            }
            &:hover{
                color: $hover-active-color;
            }
            a {
              color: inherit;
              text-decoration: none;
          }
          
          a:hover {
            color: $hover-active-color;
              text-decoration:none; 
              cursor:pointer;  
          }
        }
      }
    }
      
    }
  }
}
