@import "../../styles/mixin.scss";

.main-contact-container {
  .glob-wrapper {
    display: flex;
    gap: 20px;
    max-width: 100vw;
    background-color: $primary-color;
    @include media-sm-laptop {
      flex-direction: column;
    }

    .cursor-move-main {
      cursor: move;
      display: flex;
      overflow: hidden;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      width: 50%;

      @include media-sm-laptop {
        width: 100%;
      }
    }

    .right-box {
      width: 50%;
      display: flex;
      @include media-sm-laptop {
        width: 100%;
      }
      .box-wrapper {
        margin: auto 0;
        @include media-sm-laptop {
          padding-inline: 32px;
          padding-bottom: 32px;
        }
      }
      h2 {
        font-size: 40px;
        color: $content-color;

        @include media-tablet {
          font-size: 26px;
        }
      }
      .process-box {
        margin-top: 16px;
        h4 {
          margin-bottom: 15px;
          padding-bottom: 15px;
          border-bottom: 1px solid rgba(18, 20, 29, 0.1);
          color: $content-color;
          font-size: 24px;

          @include media-sm-laptop {
            font-size: 20px;
          }
          @include media-tablet {
            font-size: 18px;
          }
        }
        .listing {
          list-style: none;
          line-height: 1.2;
          font-size: 1.125em;
          @include media-sm-laptop {
            display: grid;
            grid-template-columns: 1fr 1fr;
          }
          @include media-mobile{
            grid-template-columns: 1fr;
          }

          @include media-tablet {
            font-size: 1em;
          }

          li {
            height: 100%;
            position: relative;
            padding-left: 25px;
            margin-bottom: 15px;

            &::before {
              content: url("../../assets/Icons/bullet.svg");
              font-size: 10px;
              position: absolute;
              left: 0;
              top: 3px;
            }

            @include media-sm-laptop{
              margin-bottom: 6px;
            }
          }
        }
      }
    }
  }
}
