@import "./mixin.scss";
// @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  touch-action: pan-x pan-y;
}
html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}

body {
}

#smooth-content {
  // will-change: transform;
}
.bg-primary {
  background: $primary-color !important;
}
.bg-secondary {
  background: $secondary-color !important;
}
a {
  text-decoration: none;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::selection {
    background-color: $primary-color;
    color: white;
  }
  &::placeholder{
    font-family: var(--font-avenir-regular), var(--font-poppins), sans-serif;
  }
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: var(--font-avenir-regular), var(--font-poppins), sans-serif;
  color: $content-color;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

//common

.title-box {
  margin-bottom: 30px;
  h2 {
    @include custom-font(600, 50px, 118%);
    color: $content-color;

    @include media-xlg-laptop {
      @include custom-font(600, 40px, 118%);
    }

    @include media-sm-laptop {
      @include custom-font(600, 30px, 118%);
    }
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-bressay-regular);
}
