@import "../../styles/mixin.scss";
.main-container-footer-bottom {
  @include wrapper-padding;
  padding-bottom: 0 !important;
  width: 100%;
  padding-inline: 32px;
  margin: 0 auto;
  .wrapper-div {
    // display: -webkit-box;
    // display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    // -ms-flex-pack: justify;
    justify-content: space-between;
    grid-gap: 30px;
    padding-bottom: 65px;
    @include media-sm-laptop {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      grid-gap: 40px;
      padding-bottom: 50px;
    }
    .left-div {
      .left-heading {
        margin-bottom: 40px;
        margin: 0 0 24px;
        line-height: 140%;
        color: $content-color;
        font-size: 2em;
        @include media-laptop {
          font-size: 24px;
        }
        @include media-tablet {
          margin-bottom: 20px;
          font-size: 20px;
        }
      }
      .left-images-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        grid-gap: 40px 30px;
        width: 100%;
        max-width: 940px;
        @include media-sm-laptop {
          grid-gap: 24px 15px;
        }
        img {
          height: unset;
          width: unset;
          @include media-sm-laptop {
            height: 30px;
            width: 50px;
          }
        }
        .star-img {
          height: 50px;
          width: 50px;
        }
      }
    }
    .right-div {
      .right-heading {
        margin-bottom: 40px;
        margin: 0 0 24px;
        line-height: 140%;
        color: $content-color;
        font-size: 2em;
        @include media-laptop {
          font-size: 24px;
        }
        @include media-tablet {
          margin-bottom: 20px;
          font-size: 20px;
        }
      }
      .right-images-div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 100%;
        max-width: 940px;
        grid-gap: 40px;
        img {
        }
      }
    }
  }
  .copyright-div {
    border-top: 1px solid rgba(235, 235, 240, 0.7);
    width: 100%;
    padding: 35px 0;
    background: #fff;
    // display: grid;
    // grid-template-columns: auto auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    grid-gap: 20px;
    @include media-laptop {
      flex-direction: column;
      align-items: center;
    }
    .right-c {
      //   display: -webkit-box;
      //   display: -ms-flexbox;
      //   display: flex;
      //   -ms-flex-wrap: wrap;
      //   flex-wrap: wrap;
      //   -webkit-box-align: center;
      //   -ms-flex-align: center;
      //   align-items: center;
      .ul {
        margin-bottom: 8px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        gap: 26px;
        font-size: 14px;
        @include media-laptop {
          justify-content: center;
        }
        @include media-mobile {
          gap: 2px;
        }
        .li {
          list-style: none;
          //   margin-right: 10px;
          padding: 0;
          color: #555770;
          position: relative;
          text-align: center;
        }
        .li-2 {
          color: #555770;
          position: relative;
          @include media-mobile {
            list-style: none !important;
          }
        }
      }
      .ul-bottom {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        list-style: none;
        font-size: 14px;
        @include media-laptop {
          justify-content: center;
        }
        .li-bottom {
          color: #555770;
          position: relative;
          list-style: none !important;
          padding-right: 10px;
          margin-right: 10px;
          .dmca-img {
            display: block;
            width: 100%;
            max-width: 160px;
            height: 100%;
          }
        }
        .link-hover2 {
          position: relative;
          z-index: 1;
          display: inline;
          padding-bottom: 1px;
          background-image: -o-linear-gradient(
            transparent calc(100% - 1px),
            $secondary-color 1px
          );
          background-image: linear-gradient(
            transparent calc(100% - 1px),
            $secondary-color 1px
          );
          background-position: right bottom;
          background-repeat: no-repeat;
          background-size: 0% 100%;
          -webkit-transition: background-size 350ms
              cubic-bezier(0.15, 0.3, 0.2, 0.9),
            color 250ms cubic-bezier(0.15, 0.3, 0.2, 0.9),
            opacity 250ms cubic-bezier(0.15, 0.3, 0.2, 0.9);
          -o-transition: background-size 350ms cubic-bezier(0.15, 0.3, 0.2, 0.9),
            color 250ms cubic-bezier(0.15, 0.3, 0.2, 0.9),
            opacity 250ms cubic-bezier(0.15, 0.3, 0.2, 0.9);
          transition: background-size 350ms cubic-bezier(0.15, 0.3, 0.2, 0.9),
            color 250ms cubic-bezier(0.15, 0.3, 0.2, 0.9),
            opacity 250ms cubic-bezier(0.15, 0.3, 0.2, 0.9);
          &:hover {
            color: $hover-active-color;
            cursor: pointer;
            background-size: 100% 100%;
            background-position: left bottom;
          }
        }
      }
    }
    .left-c {
      //   margin-left: auto;
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      @include media-xs-mobile {
        justify-content: center;
      }
      .connect-heading {
        margin: 0 0 24px;
        line-height: 140%;
        color: $content-color;
        margin-right: 32px;
        margin-bottom: 0;
        font-size: 1.25em;
        @include media-xs-mobile {
          margin-right: unset;
        }
      }
      .ul-left {
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 24px;
        grid-gap: 24px;
        .ul-list {
          -webkit-transition: all cubic-bezier(0.15, 0.3, 0.2, 0.9) 250ms;
          -o-transition: all cubic-bezier(0.15, 0.3, 0.2, 0.9) 250ms;
          transition: all cubic-bezier(0.15, 0.3, 0.2, 0.9) 250ms;
          svg {
            color: #555770;
            -webkit-transition: all cubic-bezier(0.15, 0.3, 0.2, 0.9) 250ms;
            -o-transition: all cubic-bezier(0.15, 0.3, 0.2, 0.9) 250ms;
            transition: all cubic-bezier(0.15, 0.3, 0.2, 0.9) 250ms;
          }
          .linkdn:hover {
            color: #0077b5;
            cursor: pointer;
          }
          .ig:hover {
            color: #d6249f;
            color: radial-gradient(
              circle at 30% 107%,
              #fdf497 0%,
              #fdf497 5%,
              #fd5949 45%,
              #d6249f 60%,
              #285aeb 90%
            );
            cursor: pointer;
          }
          .yt:hover {
            color: #e22020;
            cursor: pointer;
          }
          .x:hover {
            color: black;
            cursor: pointer;
          }
          .fb:hover {
            color: #4267b2;
            cursor: pointer;
          }
        }
      }
    }
  }
}
