@import "../../styles/mixin.scss";
 .right-boxx {
    background-color: white;
    padding: 20px;
  @include media-mobile {
           padding: 12px;
      }
    .container {
      width: 100%;
      height: 100%;
      padding: 30px 36px;
      border: 1px solid #25245d33;

      @include media-mobile {
        padding: 25px 10px;
      }
      .head {
        font-size: clamp(30px, 8vw, 40px) !important;
        font-weight: 700;
        line-height: 48px;
        color: $content-color;
        margin-bottom: 30px;
      }
      .hire-conateiner {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-wrap: wrap;
        gap: 0.3rem;
        cursor: pointer;
        >label{
              cursor: pointer;
        }
        > input {
          border: 2px solid $content-color;
          width: 15px;
          height: 15px;

          &:checked {
            background-color: $primary-color;
            border-color: $border-color;
          }
        }
        margin-bottom: 0.5rem;
      }

      .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px 30px;
        @media (width <=664px) {
          grid-template-columns: 1fr;
        }
        .form-group{
          position: relative;
        }
        .ContactMessage,
        .buttons,.portfolioUrl {
          @media (width > 664px) {
            grid-column: 1/3;
          }
        }
        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          // width: 100%;
          gap: 0.5rem;
          @media (width < 711px) {
            justify-content: center;
            row-gap: 1rem;
            flex-wrap: wrap;
          }
          .submitButton {
            background-color: transparent;
            outline: none;
            border: none;
            border-radius: 50px;
             .button {
                  @include custom-font(500, 14px, 14px);
                }
          }
          .tagLine {
            margin: 0 0 0 10px;
            color: $content-color;
            display: flex;
            gap: 0.5rem;
            font-size: 16px;
            align-items: center;
            img {
              mix-blend-mode: luminosity;
              // filter: brightness(0) saturate(100%) invert(90%) sepia(67%)
              //   saturate(2%) hue-rotate(241deg) brightness(110%) contrast(100%);
            }
          }
        }
        .inputField {
          width: 100%;

          position: relative;
          > label {
            font-size: 1rem;
            line-height: 24px;
            display: block;
            color: $content-color;
            margin-bottom: 14px;
            span {
                color: rgb(228, 10, 10);
            }
          }

          input,
          textarea {
            outline: none;
            border: 1px solid #e8e8e8;
            width: 100%;
            transition: all 350ms cubic-bezier(0.5, 0, 0.25, 1);
            // color: #1c1c28;
            font-size: 1em;
            background: transparent;
            color: $content-color;
            padding: 5px 20px;
            min-height: 50px;
            line-height: 1.5;
            &::placeholder {
              color: #7e7e7e;
              opacity: 1; 
              letter-spacing: .4px;
            }
            &:focus {
              border: 1px solid rgba(255, 255, 255, 0.6);
              background: rgba(0, 0, 0, 0.12);
              background-blend-mode: overlay;
            }
          }
          textarea {
            resize: vertical;
          }

       
          .errorCross {
            z-index: 5;
            display: block;
            background: 0 0;
            border: 1px solid #f15239;
            margin: 0;
            width: 20px;
            height: 20px;
            font-size: 0;
            padding: 0;
            border-radius: 0;
            position: absolute;
            top: 15px;
            right: 14px;
            text-align: center;
          }
        }
      }
    }
  }