@import "../../../styles/mixin.scss";

.cover-swipe {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 52px;
  cursor: pointer;
  max-width: fit-content;
  .before {
    background: $cta-color;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    border-radius: 28px;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.4s cubic-bezier(0.2, 1, 0.3, 1);
    -o-transition: all 0.4s cubic-bezier(0.2, 1, 0.3, 1);
    transition: all 0.4s cubic-bezier(0.2, 1, 0.3, 1);
    z-index: 0;
  }

  .button {
    text-decoration: none;
    background: 0 0;
    border: 0;

    color: $content-color;
    padding: 16px 35px;
    -webkit-transition: all 0.4s cubic-bezier(0.2, 1, 0.3, 1);
    -o-transition: all 0.4s cubic-bezier(0.2, 1, 0.3, 1);
    transition: all 0.4s cubic-bezier(0.2, 1, 0.3, 1);
    display: inline-flex;
    gap: 10px;
    align-items: center;
    z-index: 1;
    @include custom-font(600, 14px, 14px);
    span {
      gap: 10px;
      position: relative;
      z-index: 1;
      display: inline-flex;
      align-items: center;
      text-wrap: nowrap;
      word-break: keep-all;
      white-space: nowrap;
      @media (width<330px) {
        text-wrap: wrap;
      }
    }

    svg {
      font-size: 16px;
      -webkit-transition: all 0.4s cubic-bezier(0.2, 1, 0.3, 1);
      -o-transition: all 0.4s cubic-bezier(0.2, 1, 0.3, 1);
      transition: all 0.4s cubic-bezier(0.2, 1, 0.9, 1);
    }

    &:hover {
      // color: $primary-color;
      -webkit-transform: none;
      -ms-transform: none;
      transform: none;
      opacity: 1;
      .before {
        width: 52px;
      }
      svg {
        -webkit-transform: translateX(18px);
        -ms-transform: translateX(18px);
        transform: translateX(18px);
        // color: $secondary-color;
      }
    }
  }
  .no-hover-color {
    &:hover {
      color: $content-color;
    
      svg {
        color: $content-color;
      }
    }
  }
  .loader-container {
    visibility: visible;
    display: inline-block;
    background-color: white;
    /* opacity: 0.75; */
    width: 24px;
    height: 24px;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    border: none;
    border-radius: 100%;
    padding: 0;
    // margin: 0 24px;
    position: absolute;

    &:before {
      content: "";
      position: absolute;
      background-color: $primary-color;
      top: 4px;
      left: 4px;
      width: 6px;
      height: 6px;
      border: none;
      border-radius: 100%;
      transform-origin: 8px 8px;
      animation-name: spin;
      animation-duration: 1000ms;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
    }
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}
