@import "../../styles/mixin.scss";
.business-container {
  @include wrapper-padding;
  overflow: clip;
  background: #fbfbff;
  .wrapper-div {
    width: 100%;
    padding: 0 32px;
    margin: 0 auto;

    .icons {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 60px 32px;
      @include media-1200{
        gap: 32px 32px;
      }
      @include media-mobile{
        grid-template-columns: 1fr 1fr;
      }
      .data-wrapper {
        translate: none;
        rotate: none;
        scale: none;
        transform: translate(0px, 0px);
        opacity: 1;
        visibility: inherit;
        text-align: center !important;
      }
    }
  }
}
