@import "../styles/mixin.scss";

.page-not-found {
  min-height: calc(100dvh - 70px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  padding-inline: 32px;

  .grid-box {
    max-width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    margin: auto;

    @include media-sm-laptop {
      grid-template-columns: 1fr;
      gap: 35px;
    }

    .left {
      align-self: center;
      @include media-sm-laptop {
        order: 2;
        text-align: center;

        > div {
          margin: auto;
        }
      }
      h1 {
        @include custom-font(700, 70px, 1.2);
        color: #000;
        margin-bottom: 16px;
        @include media-sm-laptop {
          @include custom-font(700, 45px, 1.2);
        }
        @include media-mobile {
          @include custom-font(700, 36px, 1.2);
        }
      }

      p {
        @include custom-font(400, 24px, 1.2);
        margin-bottom: 16px;
        @include media-sm-laptop {
          @include custom-font(400, 20px, 1.2);
        }
        @include media-mobile {
          @include custom-font(400, 18px, 1.2);
        }
      }
    }
    .right {
      align-self: center;
      max-width: 100%;
      height: 400px;
      @include media-sm-laptop {
        order: 1;
        height: 300px;
      }
      @include media-mobile {
        height: 285px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}
