@import "../../styles/mixin.scss";
@import "../../styles/variable.scss";
.awards-main-container {
  //   max-width: 1440px;
  padding: 100px 0;
  overflow: clip;
  position: relative;
  z-index: 1;
  .wrapper-div {
    // max-width: 1512px;
    width: 100%;
    padding: 0 32px;
    display: flex;
    @include media-tablet {
      flex-wrap: wrap;
    }
    // margin: 0 auto;
    .text-div {
      width: 100%;
      .text-title {
        margin-bottom: 48px;
        max-width: 560px;
        .top-title {
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          position: relative;
          font-weight: 600;
          color: #555770;
          padding-left: 44px;
          margin-bottom: 10px;
          text-transform: uppercase;
        }
        .top-title::after {
          content: "";
          position: absolute;
          background: #c7c9d9;
          width: 37px;
          height: 1px;
          top: 50%;
          left: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
        .h2 {
          margin: 0;
          font-size: 3.125em;
          line-height: 118%;
          .h2-green {
            font-size: unset;
            color: $secondary-color;
          }
        }
      }
      .text-content {
        max-width: 620px;
        width: 100%;
        .text-content-para {
          margin: 0 0 30px;
          font-size: 1.25em;
          margin-bottom: 20px;
        }
        .list-parent {
          margin: 40px 0;
          padding-left: 20px;
          margin-top: 20px;
          li {
            margin-bottom: 10px;
          }
        }
      }
    }
    .image-div {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 5%;
      // padding-top: 3%;
      // position: relative;
      // width: 100%;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      // background: url(../../../public/circle.svg);
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: 500px;
      // @include media-tablet{
      //   background-size: 300px;
      // }
      img {
        // mix-blend-mode: multiply;
        // position: absolute;
        // z-index: -1;
        // left: 0;
        // right: 0;
      }
      @include media-tablet {
        padding-top: 25%;
        min-height: 500px;
      }
      .top-img-div {
        z-index: 1;
        // min-height: 114px;
        padding: 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 70px;
          width: auto;
          @include media-tablet {
            height: 54px;
          }
        }
        &::before {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          height: 125%;
          background: url("../../assets/images/award-bg.svg") no-repeat center
            bottom;
          background-size: contain;
          background-position: center center;
          z-index: -1;
          -webkit-filter: grayscale(1);
          filter: grayscale(1);
          opacity: 0.6;
        }
      }
      .bottom-images-wrapper {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
        padding-bottom: 5%;
        .bottom-img-div {
          width: min-content;
          z-index: 1;
          // min-height: 114px;
          padding: 20px;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            height: 70px;
            width: auto;
            @include media-tablet {
              height: 54px;
            }
          }
          &::before {
            content: "";
            position: absolute;
            right: 0;
            width: 100%;
            height: 150%;
            background: url("../../assets/images/award-bg.svg") no-repeat center
              left;
            background-size: contain;
            background-position: center center;
            z-index: -1;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            opacity: 0.6;
          }
        }
      }
    }
  }
  .born-in-india {
    font-size: 3.25em;
    // text-transform: none;
    // -webkit-transform: translateY(-30%) scale(8);
    // -ms-transform: translateY(-30%) scale(8);
    // transform: translateY(-30%) scale(8);
    contain: layout;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    right: 0;
    text-align: center;
    color: rgba(85, 87, 112, 0.08);
    font-weight: 300;
  }
}
