@import "../../../styles/mixin.scss";
.servicesDropDown {
  position: absolute;
  left: 5%;
  opacity: 1 !important;
  width: 90%;
  cursor: auto;
  height: 99vh;
  padding-bottom: 20px;
  overflow: auto !important;
  scrollbar-width: none;
  z-index: 2;
  display: grid;
  grid-template-columns: minmax(min-content, 1fr) 2.4fr;
  @include media-sm-laptop {
    left: 0;
    top: unset;
    width: 100%;
    border-top: unset;
    padding-bottom: unset;
  }
  @include media-tablet {
    grid-template-columns: 1fr;
  }
  .head {
    color: $content-color;
    padding-bottom: 3px;

    border-bottom: 1.2px solid #61616176;
    text-wrap: nowrap;
    margin: 0;
    font-weight: 600;
    font-size: 18px;

    text-transform: uppercase;
    @include media-sm-laptop {
      margin-top: 22px;
    }
  }
  .left {
    padding: 40px 20px;
    background-color: $primary-color;
    .list {
      margin-top: 1rem;
      display: grid !important;
      grid-template-columns: 1fr;

      @include media-tablet {
        grid-template-columns: 1fr 1fr;
      }
      @include smMobile {
        grid-template-columns: 1fr;
      }

      li {
        list-style-type: none;
        height: 100%;
        display: flex;
        @include media-sm-laptop {
          margin: 0.4rem 0;
        }
      }
      > li a {
        color: $content-color;
        padding: 1rem;
        display: flex;
        align-items: center;
        word-break: keep-all;
        text-wrap: nowrap;
        border-radius: 5px;
        &:hover {
          background-color: #fff;
        }
      }
      a {
        text-decoration: none;
      }
    }
  }
  .right {
    padding: 40px 20px;
    background-color: white;
    .subList-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 0.5rem;
      @include media-sm-laptop {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      }

      .subList {
        .subHead {
          margin-top: 1rem;
          color: $content-color;
        }
        .list {
          margin-top: 1rem;

          li {
            list-style-type: none;
            display: flex;
            height: 100%;
            position: relative;
            padding-left: 16px;

             &::before {
              content: url("../../../assets/Icons/bullet.svg");
              font-size: 10px;
              position: absolute;
              left: 0;
              top: 16px;
            }

            a {
              color: $content-color;
              text-decoration: none;
              height: 100%;
              text-wrap: nowrap;
              border-radius: 5px;
              padding: 10px 10px 10px 5px;

              &:hover {
                background-color: $primary-color;
              }
            }
          }
        }
      }
    }
  }
}
