@import "../../styles/mixin.scss";
.contactus-content {
  @include wrapper-padding;
  .wrapper {
    // max-width: 1512px;
    width: 100%;
    padding: 0 32px;
    margin: 0 auto;
    .items-container {
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      // align-items: center;
      grid-gap: 72px;
      @include media-sm-laptop {
        flex-wrap: wrap;
      }
      .left-items-div {
        line-height: 1.5;
        font-weight: 400;
        width: 50%;
        @include media-sm-laptop {
          width: 100%;
        }
        .contact-us-heading {
          font-size: clamp(30px, 10vw, 60px) !important;
          line-height: 118%;
          margin: 0 0 24px;
          color: $content-color;
        }
        .p1 {
          font-size: 1em;
          max-width: 100%;
          line-height: 1.8;
          margin: 0 auto 15px;
          opacity: 0.9;
          margin-bottom: 30px;
        }
        .p2 {
          font-size: 1em;
          max-width: 100%;
          line-height: 1.8;
          margin: 0 auto 15px;
          opacity: 0.9;
          margin-bottom: 30px;
        }
        .list-heading {
          margin-bottom: 50px;
          margin-top: 30px;
          // margin: 40px 0;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 15px;
          list-style: none;
          padding: 0;
          line-height: 1.5;
          @include media-sm-laptop {
            grid-template-columns: repeat(3, 1fr);
            // margin-bottom: 30px;
          }
          @include media-tablet {
            grid-template-columns: repeat(2, 1fr);
          }
          @include media-510 {
            grid-template-columns: repeat(1, 1fr);
          }
          li {
            opacity: 0.8;
            position: relative;
            padding-left: 25px;
            display: flex;
            flex-wrap: wrap;
            &::before {
              content: url("../../assets/Icons/bullet.svg");
              font-size: 10px;
              position: absolute;
              left: 0;
              top: 6px;
            }
          }
        }
        .banner-btn {
          @include media-sm-mobile {
            margin: auto;
          }
        }
      }
      .right-items-div {
        width: 50%;
        text-align: center;
        @include media-sm-laptop {
          width: 100%;
        }
        .right-item-cards {
          translate: none;
          rotate: none;
          scale: none;
          opacity: 1;
          transform: translate(0px, 0px);
          display: grid;
          grid-gap: 30px;
          .above-cards {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            grid-gap: 30px;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            line-height: 1.5;
            font-weight: 400;
            .counter-div {
              width: calc(20% - 24px);
              text-align: center;
              border: 1px solid rgba(157, 220, 255, 0.1);
              padding: 40px 20px;
              overflow: hidden;
              position: relative;
              z-index: 1;
              width: calc(33.33% - 20px);
              padding: 30px 20px;
              border: 0;
              border-radius: 10px;
              min-height: 210px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              border-color: #ec4326;
              background: #fff2f0;
              @include media-lg-laptop {
                width: calc(50% - 20px);
                padding: 30px 15px;
              }
              figure {
                margin: 0;
                img {
                  width: 40px;
                  height: 40px;
                  -o-object-fit: contain;
                  object-fit: contain;
                }
              }
              .number {
                display: inline-block;
                width: 100%;
                margin: 0;
                font-weight: 600;
                font-size: 2.8125em;
                line-height: 1;
                color: #ff6900;
                @include media-sm-laptop {
                  font-size: 25px;
                }
              }
              .job {
                font-weight: 700;
                font-size: 1em;
                color: $content-color;
                display: block;
              }
            }
            .counter-div2 {
              border-color: #850cae;
              background: #fdf8ff;
              width: calc(20% - 24px);
              text-align: center;
              border: 1px solid rgba(157, 220, 255, 0.1);
              padding: 40px 20px;
              overflow: hidden;
              position: relative;
              z-index: 1;
              width: calc(33.33% - 20px);
              padding: 30px 20px;
              border: 0;
              border-radius: 10px;
              min-height: 210px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              @include media-lg-laptop {
                width: calc(50% - 20px);
                padding: 30px 15px;
              }

              figure {
                margin: 0;
                img {
                  width: 40px;
                  height: 40px;
                  -o-object-fit: contain;
                  object-fit: contain;
                }
              }
              .number2 {
                display: inline-block;
                width: 100%;
                margin: 0;
                font-weight: 600;
                font-size: 2.8125em;
                line-height: 1;
                color: #3e7bfa;
                @include media-sm-laptop {
                  font-size: 25px;
                }
              }
              .job2 {
                font-weight: 700;
                font-size: 1em;
                color: $content-color;
                display: block;
              }
            }
          }
          .below-cards {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            grid-gap: 30px;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            line-height: 1.5;
            font-weight: 400;
            @include media-mobile {
              flex-wrap: wrap;
            }
            .counter-div {
              width: calc(20% - 24px);
              text-align: center;
              border: 1px solid rgba(157, 220, 255, 0.1);
              padding: 40px 20px;
              overflow: hidden;
              position: relative;
              z-index: 1;
              width: calc(33.33% - 20px);
              padding: 30px 20px;
              border: 0;
              border-radius: 10px;
              min-height: 210px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              border-color: #04ad77;
              background: #f1fbf2;
              @include media-lg-laptop {
                width: calc(33.33% - 20px);
                font-size: 9px;
              }
              @include media-sm-laptop {
                font-size: 15px;
              }
              @include media-mobile {
                width: 100%;
              }
              figure {
                margin: 0;
                img {
                  width: 40px;
                  height: 40px;
                  -o-object-fit: contain;
                  object-fit: contain;
                  @include media-lg-laptop {
                    width: 30px;
                    font-size: 2.5em;
                  }
                  @include media-sm-laptop {
                    width: unset;
                  }
                }
              }
              .number {
                display: inline-block;
                width: 100%;
                margin: 0;
                font-weight: 600;
                font-size: 2.8125em;
                line-height: 1;
                background: linear-gradient(
                  147.14deg,
                  #00cfde 6.95%,
                  #05a660 93.05%
                );
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                @include media-sm-laptop {
                  font-size: 25px;
                }
                // background-image: linear-gradient(147.14deg, #00cfde 6.95%, #05a660 93.05%);
              }
              .job {
                font-weight: 700;
                font-size: 1em;
                color: $content-color;
                display: block;
              }
            }
            .counter-div2 {
              background: #f2f8ff !important;
              border-color: #136cf5;
              width: calc(20% - 24px);
              text-align: center;
              border: 1px solid rgba(157, 220, 255, 0.1);
              padding: 40px 20px;
              overflow: hidden;
              position: relative;
              z-index: 1;
              width: calc(33.33% - 20px);
              padding: 30px 20px;
              border: 0;
              border-radius: 10px;
              min-height: 210px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              @include media-lg-laptop {
                width: calc(33.33% - 20px);
                font-size: 9px;
              }
              @include media-sm-laptop {
                font-size: 15px;
              }
              @include media-mobile {
                width: 100%;
              }
              figure {
                margin: 0;
                img {
                  width: 40px;
                  height: 40px;
                  -o-object-fit: contain;
                  object-fit: contain;
                  @include media-lg-laptop {
                    width: 30px;
                    font-size: 2.5em;
                  }
                  @include media-sm-laptop {
                    width: unset;
                  }
                }
              }
              .number2 {
                display: inline-block;
                width: 100%;
                margin: 0;
                font-weight: 600;
                font-size: 2.8125em;
                line-height: 1;
                color: #3e7bfa;
                background: linear-gradient(
                  147.14deg,
                  #5b8def 6.95%,
                  #0063f7 93.05%
                );
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                @include media-sm-laptop {
                  font-size: 25px;
                }
              }
              .job2 {
                font-weight: 700;
                font-size: 1em;
                color: $content-color;
                display: block;
              }
            }
            .counter-div3 {
              background: #ebfcf8 !important;
              width: calc(20% - 24px);
              text-align: center;
              border: 1px solid rgba(157, 220, 255, 0.1);
              padding: 40px 20px;
              overflow: hidden;
              position: relative;
              z-index: 1;
              width: calc(33.33% - 20px);
              padding: 30px 20px;
              border: 0;
              border-radius: 10px;
              min-height: 210px;
              display: -webkit-box;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-pack: center;
              -ms-flex-pack: center;
              justify-content: center;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -ms-flex-direction: column;
              flex-direction: column;
              @include media-lg-laptop {
                width: calc(33.33% - 20px);
                font-size: 9px;
              }
              @include media-sm-laptop {
                font-size: 15px;
              }
              @include media-mobile {
                width: 100%;
              }
              figure {
                margin: 0;
                img {
                  width: 40px;
                  height: 40px;
                  -o-object-fit: contain;
                  object-fit: contain;
                  @include media-lg-laptop {
                    width: 30px;
                    font-size: 2.5em;
                  }
                  @include media-sm-laptop {
                    width: unset;
                  }
                }
              }
              .number3 {
                display: inline-block;
                width: 100%;
                margin: 0;
                font-weight: 600;
                font-size: 2.8125em;
                line-height: 1;
                color: #3e7bfa;
                background: linear-gradient(
                  147.14deg,
                  #00cfde 6.95%,
                  #05a660 93.05%
                );
                -webkit-text-fill-color: transparent;
                -webkit-background-clip: text;
                @include media-sm-laptop {
                  font-size: 25px;
                }
              }
              .job3 {
                font-weight: 700;
                font-size: 1em;
                color: $content-color;
                display: block;
              }
            }
          }
        }
        .right-item-awards {
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          padding-top: 30px;
          margin-top: 30px;
          border-top: 1px solid #e4e4eb;
          margin-bottom: 12px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          grid-gap: 30px;
          margin-top: 48px;
          .awards-container {
            display: flex;
            justify-content: space-between;
            padding: 0 40px 0;
            // border-top: 2px solid #313180;
            border-radius: 100px;
            max-width: 548px;
            width: 100%;
            // margin-top: 50px;

            @include media-mobile {
              border: none;
              grid-gap: 20px;
              padding: 0;
              margin-top: 15px;
            }
            .award-box {
              max-width: 120px;
              width: 100%;
              text-align: center;
              .award-name2 {
                z-index: 1;
                min-height: 114px;
                padding: 20px;
                position: relative;
                display: flex;
                align-items: center;
                .award-img {
                  //   height: 56px;
                  //   width: auto;
                  font-size: 15px;
                  margin: 0 auto;
                  max-width: 100%;
                  @include media-sm-mobile {
                    font-size: 12px;
                  }
                }
                &::before {
                  content: "";
                  position: absolute;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background: url("../../assets/images/award-bg.svg") no-repeat
                    center bottom;
                  background-size: contain;
                  background-position: center center;
                  z-index: -1;
                }
              }
            }
          }
        }
        .titleaward {
          text-align: center;
          margin: 0;
          color: rgba(18, 20, 29, 0.8);
          line-height: 1.3;
        }
      }
    }
  }
}
