@import "../../styles/mixin.scss";
.main-infrastructure {
  @include wrapper-padding;
  overflow: clip;
  background: #fafafc;
  overflow: hidden;
  line-height: 1.5;
  font-weight: 400;
  .wrapper-div {
    width: 100%;
    padding: 0 32px;
    margin: 0 auto;
    .content-wrapper {
      margin-bottom: 48px;
      text-align: center;
      max-width: 100%;
      .bottom-para {
        line-height: 1.5;
        font-weight: 400;
        color: #12141d;
        margin-top: 24px;
        max-width: 985px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0;
        font-size: 16px;
        opacity: 0.8;
      }
    }
  }
  .Image-gallery {
    overflow: hidden;
    cursor: -webkit-grab;
    cursor: grab;
    width: 100%;
    position: relative;
    z-index: 1;
    // height: 500px;
    .swiper-slide {
      transition: all 0.6s ease;
      display: flex;
      height: auto;
      .card-box {
        width: 100%;
        height: 100%;
        flex: 1;
        margin: auto;
        transition: all 0.6s ease;
      }
      .scale-down {
        transform: scale(0.9);
      }
    }
  }
  .btn-div {
    text-align: center;
    margin-top: 60px;
    >div{
      margin: auto;
    }
  }
}
