@import "../../styles/mixin.scss";
.info {
  max-width: 446px !important;

  @include media-sm-laptop {
    max-width: 100% !important;
  }
}
.right-box:has(#testomonials) {
  max-width: calc(100% - 446px) !important;

  @include media-sm-laptop {
    max-width: 100% !important;
  }
}

#testomonials {
  height: 100%;
  box-shadow: 0 4px 22px rgba(0, 0, 0, 0.06);

  @include media-mobile {
    margin-right: 20px;
  }

  .testomonial-info {
    height: 100%;
    display: flex;
    width: 100%;
    background: #fff;
    padding: 75px 30px 30px;
    position: relative;
    flex-direction: column;

    .title {
      color: $content-color;
      margin-bottom: 20px;
      @include custom-font(600, 24px, 26px);

      &::before {
        content: "”";
        font-size: 80px;
        position: absolute;
        left: 30px;
        top: 20px;
        font-family: "icomoon" !important;
        color: #f2f2f5;
        line-height: 1;
      }
    }

    .review {
      margin: 0 0 20px;
      color: #12141d;
    }

    .client-box {
      display: flex;
      align-items: center;
      margin-top: auto;

      .client-img {
        display: flex;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 24px;
        width: 100%;
        max-width: 70px;
        height: 100%;
        max-height: 70px;
      }

      .client-detail {
        .rating-img {
          height: 21px;
          width: 100%;
        }
        .name {
          color: #12141d;
          @include custom-font(600, 18px, 20px);
          margin-bottom: 5px;
        }

        .from {
          @include custom-font(600, 14px, 16px);
          color: rgba(18, 20, 29, 0.7);
        }
      }
    }
  }
}

.platforms {
  margin: auto;
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;

  @include media-mobile {
    gap: 20px;
  }

  figure {
    width: calc(33.33% - 50px);
    @include media-mobile {
      width: calc(33.33% - 20px);
    }

    img {
      width: 100%;
      height: unset;
      object-fit: contain;
    }
  }
}
