@import "../../../styles/mixin.scss";

#portfolio {
  @include wrapper-padding;
  min-height: 485px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  overflow: hidden;
  justify-content: center;

  @include media-laptop {
    min-height: 400px;
  }

  figure {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-width: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      z-index: 1;
    }
  }

  .banner-box {
    width: 100%;
    padding: 0 32px;
    margin: 0 auto;
    z-index: 1;

    .backLink-container {
      display: flex;
      align-items: center;
      justify-content: center;
      
      .backlink {
        cursor: pointer;
        color: #a8726be6;
        &:hover {
          color: #a8726b;
        }
        transition: all 0.3s ease;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.3rem;

        span {
          // border-bottom: 1px solid transparent;
            border-bottom: 1px solid #a8726b7a;

          transition: all 0.3s ease;
          &:hover {
            // border-bottom: 1px solid #a8726b7a;
       
          }
        }
      }
    }

    .banner-title {
      @include custom-font(700, 80px, 118%);
      margin-bottom: 24px;
      color: $text-white;
      // opacity: 0.9;

      @include media-xlg-laptop {
        @include custom-font(700, 60px, 118%);
      }

      @include media-sm-laptop {
        @include custom-font(700, 40px, 118%);
      }
    }

    .banner-detail {
      margin: 10px auto 0;
      max-width: 1050px;
      color: $text-white;
      // opacity: 0.8;

      // @include media-mobile {
      //   @include custom-font(400, 18px, 1.5);
      // }

      @include custom-font(400, 26px, 1.2);

      @include media-xlg-laptop {
        @include custom-font(400, 24px, 1.2);
      }
      @include media-sm-laptop {
        @include custom-font(400, 18px, 1.2);
      }
    }
  }
}
