//  html.lenis {
//   height: auto;
// }

// .lenis.lenis-smooth {
//   scroll-behavior: auto;
// }

// .lenis.lenis-smooth [data-lenis-prevent] {
//   overscroll-behavior: contain;
// }

// .lenis.lenis-stopped {
//   overflow: hidden;
// }

// .lenis.lenis-scrolling iframe {
//   pointer-events: none;
// }


// body {
//   margin: 0;
//   padding: 0;
//   overflow-x: hidden;
//   overflow-y: scroll; /* Enable vertical scrolling */
// }

// #body {
//   position: relative;
// }

// .main-wrapper {
//   position: relative;
//   z-index: 1;
// }