@import "../../../styles/mixin.scss";

.full-width {
  grid-column: span 2;
  @include media-mobile {
    grid-column: 1;
  }
}

.input-box {
  position: relative;

  > label {
    text-align: start;
    position: relative;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0;
    display: block;
    margin-bottom: 14px;

    sup {
      font-style: normal;
      font-size: 16px;
      display: inline-block;
      vertical-align: top;
      color: #e53535;
    }
  }
  .input-span {
    position: relative;
    text-align: start;

    input {
      background: 0 0;
      padding: 5px 20px;
      height: 50px;
      line-height: 1.5;
      border: solid 1px #e3e3e3;
      width: 100%;
      font-family: "Poppins";
      transition: border-color 350ms cubic-bezier(0.5, 0, 0.25, 1),
        background 350ms cubic-bezier(0.5, 0, 0.25, 1);
      color: $content-color;
      font-size: 1em;

      &::placeholder {
        color: #12141da6;
      }
      &:focus {
        border-color: rgba(85, 87, 112, 0.6);
        outline: 0;
      }
    }
    input[type="number"] {
      appearance: none;
      -moz-appearance: textfield;
    }
    
    input[type="number"]::-webkit-outer-spin-button,
    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    
    input[type="number"] {
      appearance: none;
      -ms-appearance: none;
    }
    textarea {
      height: 112px;
      padding: 12px 20px;
      resize: vertical;
      background: 0 0;
      line-height: 1.5;
      border: solid 1px #e3e3e3;
      width: 100%;
      font-family: "Poppins";
      transition: border-color 350ms cubic-bezier(0.5, 0, 0.25, 1),
        background 350ms cubic-bezier(0.5, 0, 0.25, 1);
      color: $content-color;
      font-size: 1em;
      appearance: none;
      vertical-align: middle;
      -webkit-appearance: none;

      &::placeholder {
        color: #12141da6;
      }
      &:focus {
        border-color: rgba(85, 87, 112, 0.6);
        outline: 0;
      }
    }
  }

  .custom-select {
    display: block;
    margin: 0;
    position: relative;
    background: #fff;

    &::before {
      position: absolute;
      right: 1px;
      top: 1px;
      width: 48px;
      background: #fff;
      content: "";
      height: 48px;
    }
    &::after {
      content: "";
      background: url("../../../assets/images/arrow-down.svg") no-repeat center
        top;
      width: 9px;
      height: 6px;
      position: absolute;
      right: 18px;
      top: 50%;
      margin-top: -3px;
    }

    select {
      padding: 5px 42px 5px 20px;
      appearance: none;
      position: relative;
      z-index: 1;
      background: 0 0;
      line-height: 1.25;
      border-radius: 0;
      height: 50px;
      border: solid 1px #e3e3e3;
      vertical-align: middle;
      width: 100%;
      font-family: "Averta", sans-serif;
      transition: border-color 350ms cubic-bezier(0.5, 0, 0.25, 1),
        background 350ms cubic-bezier(0.5, 0, 0.25, 1);
      font-size: 1em;
      color: #12141da6;

      &:focus {
        border-color: rgba(85, 87, 112, 0.6);
        outline: 0;
      }
    }
  }
  .custom-drop-zone {
    height: 200px;
    border: solid 1px #e3e3e3;
    width: 100%;
    font-family: "Poppins";
    transition: border-color 350ms cubic-bezier(0.5, 0, 0.25, 1),
      background 350ms cubic-bezier(0.5, 0, 0.25, 1);
    color: $content-color;
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f5f5f5;
    cursor: pointer;

    input[type="file"] {
      padding: 5px 20px;
      width: 100%;
      height: 100%;
      opacity: 0;
      appearance: none;
    }

    &::before {
      position: absolute;
      content: attr(data-content); 
      color: #12141da6;
    }
  }
  .error{
    margin-top: 5px;
    text-align: left;
    font-size: 12px;
    line-height: 16px;
    color: red;
  }
}
