@import "../../../styles/mixin.scss";
.whatWeBelieveMain {
  padding-inline: 32px;
  @include wrapper-padding;
  .peragraph {
    max-width: 985px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    margin-top: 24px;
    text-align: center;
    color: #12141d;
    font-size: 1.25em;
    @media (max-width: 991px) {
      font-size: 1em;
    }
  }
  .videoLink {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }

  .cards-container {
    margin-top: 3rem;
    display: grid;
    grid-gap: 32px;
    gap: 42px;

    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template-columns: 1fr 1.5fr;
    @media (width<= 1148px) {
      grid-template-columns: 1fr 1fr;
    }
    @media (width<=972px) {
      grid-template-columns: 1fr;
    }
    h2 {
      line-height: 1.37;
      margin: 0 0 18px;
      font-size: 2em;
      color: $content-color;
      @media (max-width: 1199px) {
        font-size: 1.75em;
      }
    }
    p {
      max-width: 985px;
      text-wrap: wrap;
      margin-bottom: 0;
      margin-top: 24px;
      font-size: 18px;
      @media (max-width: 991px) {
        font-size: 1em;
      }
    }

    .OurCoreValuesCard {
      padding: 33px;
      -webkit-box-shadow: 0 5px 28px rgba(0, 0, 0, 0.08);
      box-shadow: 0 5px 28px rgba(0, 0, 0, 0.08);
      grid-row: span 2;
      height: 100%;
      display: flex;
      flex-direction: column;
      .content-wrapper {
        background-color: white;
        z-index: 1;
      }
      .image-wrap {
        max-width: 703px;

        @media (max-width: 991px) {
          max-width: 100%;
        }

        transition: 1s ease-out;
        transition-delay: 0.6s;
        position: relative;
        width: 100%;
        opacity: 0.4;

        transition: transform 1s ease-out;
        img {
          object-position: center;
          transform: scale(0.6) translateY(100%);
          transition: transform 2s ease-out;
          overflow: hidden;
          width: 100%;
          height: min-content;
        }
      }
      .animation {
        opacity: 1;
        img {
          transform: scale(1) translateY(0%);
          // transition: transform 4s ease-out, height 2s ease;
        }
      }

      .listing {
        font-size: 18px;
        padding: 10px 0 0 0;
        line-height: 1.5;
        li {
          padding-left: 25px;
          list-style: none;
          position: relative;
          &::before {
            content: url("../../../assets/Icons/bullet.svg");
            font-size: 10px;
            position: absolute;
            left: 0;
            top: 6px;
          }
        }
      }
    }
    .OurVisionCard,
    .OurMission {
      box-shadow: 0 5px 28px rgba(0, 0, 0, 0.08);
      padding: 33px;
      overflow: hidden;
      display: flex;
      gap: 32px;
      align-items: center;
      @media (width<= 1148px) {
        flex-direction: column;
      }
      justify-content: center;
      .content {
        background-color: white;
        z-index: 1;
      }
      p {
        margin-top: 10px;
      }
      h2 {
        margin: 0 0 8px;
      }
      .img-container {
        grid-row: span 2;
        height: 100%;
      }
    }
    .OurMission {
      .img-container {
        transition: 1s ease-out;
        transition-delay: 0.6s;
        opacity: 0.7;
        width: 100%;
        max-width: 800px !important;
        img {
          transition: transform 2s ease-out;
          transform: scale(0.6) translateX(100%);
          height: 100%;
          width: 100%;
        }
      }
    }
    .OurMissionAnimation {
      opacity: 1 !important;
      img {
        transform: scale(1) translateX(0%) !important;
        // transition: transform 4s ease-out, height 2s ease;
      }
    }

    ///aaaaaaaaaaaaa
    .OurVisionCard {
      .img-container {
        transition: 1s ease-out;
        transition-delay: 0.6s;
        opacity: 0.7;
        img {
          transition: transform 2s ease-out;
          transform: scale(0.6) translateX(-100%);
          height: 100%;
          width: 100%;
          // filter: brightness(0) saturate(100%) invert(0%) sepia(0%) saturate(16%) hue-rotate(309deg) brightness(100%) contrast(107%);
        }
      }
    }
    .OurVisionAnimation {
      opacity: 1 !important;
      img {
        transform: scale(1) translateX(0%) !important;
        // transition: transform 4s ease-out, height 2s ease;
      }
    }
  }
}
