@import "../../styles/globals.scss";

#content-box {
  grid-gap: 64px;
  display: flex;
  background-color: $primary-color;
  @include wrapper-padding;
  padding-inline: 32px;

  @include media-sm-laptop {
    flex-wrap: wrap;
  }

  .left-box {
    .sticky-box {
      position: sticky;
      top: calc($navbar-height + 10px);
    }
    h2 {
      font-size: 40px;
      color: $content-color;

      @include media-tablet {
        font-size: 30px;
      }
    }
    p {
      font-size: 18px;
      color: rgba(18, 20, 29, 0.8);
      margin-top: 10px;

      @include media-xlg-laptop {
        font-size: 16px;
      }
    }
    .process-box {
      margin-top: 32px;

      h4 {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(18, 20, 29, 0.1);
        color: $content-color;
        font-size: 24px;

        @include media-sm-laptop {
          font-size: 20px;
        }
        @include media-tablet {
          font-size: 18px;
        }
      }
      .listing {
        list-style: none;
        line-height: 1.5;
        font-size: 1.125em;

        @include media-tablet {
          font-size: 1em;
        }

        li {
          height: 100%;
          position: relative;
          padding-left: 25px;
          margin-bottom: 15px;

          &::before {
            content: url("../../assets/Icons/bullet.svg");
            font-size: 10px;
            position: absolute;
            left: 0;
            top: 6px;
          }

          span {
            font-weight: 700;
            margin: 0 4px;
          }
        }
      }
    }
  }
  .right-boxx {
    // background: linear-gradient(338deg, #c5b297ae -31.3%, #c5b297 113.64%);
    // background: #fbfbfb;
    padding: 20px;
    border-radius: 20px;
    color: black;
    .swal-confirm-button{
      background-color: #25245d !important;
    }
    @include media-sm-laptop {
      width: 100%;
    }
    .container {
      width: 100%;
      height: 100%;
      padding: 30px 36px;
      border-radius: 20px;
      //   border: 1px solid #25245d33;
      @media (width <=664px) {
        padding: 20px;
      }
      .imgandtext {
        display: flex;
        align-items: center;
        gap: 14px;
        @include media-sm-mobile {
          flex-wrap: wrap;
          justify-content: center;
        }
        img {
          width: 40px;
          aspect-ratio: 1;
          object-fit: contain;
          -webkit-animation: handshake 1.5s normal linear infinite;
          animation: handshake 1.5s normal linear infinite;
        }
      }
      .head {
        font-size: clamp(30px, 8vw, 40px) !important;
        font-weight: 700;
        line-height: 48px;
        // color: white;
        margin-bottom: 15px;
        @include media-510 {
          font-size: 22px;
        }
        @include media-xs-mobile {
          font-size: 16px;
        }
        @include media-sm-mobile {
          text-align: center;
        }
      }

      .form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;
        @media (width <=664px) {
          grid-template-columns: 1fr;
          gap: 20px;
        }
        .ContactMessage,
        .buttons {
          @media (width > 664px) {
            grid-column: 1/3;
          }
        }
        .buttons {
          display: flex;
          align-items: center;
          justify-content: space-between;
          @media (width < 711px) {
            justify-content: center;
            row-gap: 1rem;
            flex-wrap: wrap;
          }
          // width: 100%;
          gap: 0.5rem;
          .submitButton {
            background-color: transparent;
            outline: none;
            border: none;
            border-radius: 50px;
            .button {
              @include custom-font(500, 14px, 14px);
            }
          }
          .tagLine {
            margin: 0 0 0 10px;
            // color: #fff;
            display: flex;
            gap: 0.5rem;
            font-size: 16px;
            align-items: center;
            img {
             mix-blend-mode: luminosity;
            }
          }
        }
        .inputField {
          width: 100%;

          position: relative;
          > label {
            font-size: 1rem;
            line-height: 24px;
            display: block;
            // color: white;
            margin-bottom: 14px;
            span {
              //   color: red;
            }
          }

          input,
          textarea {
            // outline: none;
            border: 1px solid rgba(0, 0, 0, 0.2);
            &:focus {
              border: 1px solid rgba(255, 255, 255, 0.6);
              background: rgba(0, 0, 0, 0.12);
              background-blend-mode: overlay;
            }
            width: 100%;
            transition: all 350ms cubic-bezier(0.5, 0, 0.25, 1);
            // color: #1c1c28;
            font-size: 1em;
            &::placeholder {
              // color: #ffffff9b;
              opacity: 1; /* Firefox */
            }
            background: transparent;
            // color: #ffffff;
            padding: 5px 20px;
            min-height: 50px;
            line-height: 1.5;
          }
          textarea {
            resize: vertical;
          }
          .errorBorder {
            border-color: #f15239 !important;
          }

          .error {
            position: absolute;
            // margin-top: 0.2rem;
            font-size: 10px;
            color: #f15239;
            bottom: -17px;
            left: 0;
          }
          .errorCross {
            z-index: 5;
            display: block;
            background: 0 0;
            border: 1px solid #f15239;
            margin: 0;
            width: 20px;
            height: 20px;
            font-size: 0;
            padding: 0;
            border-radius: 0;
            position: absolute;
            top: 15px;
            right: 14px;
            text-align: center;
          }
        }
      }
    }
  }
}
.swal-title {
  font-family: var(--font-bressay-regular) !important;
}
.swal-text{
  font-family: var(--font-avenir-regular) !important;
}
.swal-confirm-button {
  background-color: $hover-active-color !important;
}
@keyframes handshake {
  0%,
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(40deg);
  }
}
