@import "../../styles/mixin.scss";
.ourWorkingMethod {
  @include wrapper-padding;
  padding-inline: 32px;
  width: 100%;
  background-color: #fcfcfc;

  .img-conatiner {
    width: 100%;
    height: max-content;
    margin-top: 3rem;
    position: relative;
    @media (width<=374px) {
      margin-top: 1.5rem;
    }

    .main-img {
      width: 100%;
      height: unset;
    }
  }

  .index {
    display: grid;
    place-content: center;
    position: absolute;

    // opacity: 0;
    // transform: scale(0);
    width: clamp(15px, 2.2vw, 35px);
    height: clamp(15px, 2.2vw, 35px);
    border: clamp(1px, 0.8vw, 3px) solid;
    border-radius: 50%;
    font-weight: 600;
    font-size: clamp(7px, 1vw, 16px);
    transform: translate(0px, 0px);
    @media (width <=770px) {
      border: clamp(1px, 0.8vw, 2px) solid;
    }
    @media (width <=570px) {
      width: clamp(17px, 2.2vw, 35px);
      height: clamp(17px, 2.2vw, 35px);
      border: clamp(1px, 0.8vw, 1.5px) solid;
      font-size: clamp(10px, 1vw, 15px);
    }
  }
  .i1 {
    border-color: #568bf0;
    background-color: #fff;
    transition: 0.5s ease-in-out;
    transform: scale(0);
    transition-delay: 1s;
    left: 0.3%;
    top: 2%;
    @media (width <= 570px) {
      top: -8%;
      left: -1px;
    }
  }

  .i2 {
    color: #fff;
    border-color: #fff;
    background-color: #548af0;
    top: 24%;
    left: 18%;
    transition: 0.5s ease-in-out;
    transform: scale(0);
    transition-delay: 2s;
    @media (width <= 570px) {
      top: 20%;
      left: 18%;
    }
    @media (width <= 470px) {
      top: 17%;
      left: 15.5%;
    }
  }

  .animation {
    .index {
      opacity: 1;
      transform: scale(1);
    }
  }

  .btn {
    display: grid;
    place-items: center;
    margin: 3rem 0 0 0;
    @media (width<=374px) {
      margin: 1.5rem 0 1rem 0;
    }
  }
}
